[2017-09-03 05:45] #1345 closed

[2017-09-03 07:31] its-pointless commented on #1339
You want to use gcc rather than clang for this. So the command setupgcc-7 will do that. If you try and install without any configuration changes you might get cc1 error about integer after -O. This is caused by "-OPT:Olimit=0" being in the file $PREFIX/lib/python2.7/_sysconfigdata.py which is the configuration file for pythons cflags etc. you probably want to remove those since it has no effect on

[2017-09-03 10:33] TheDiamondYT1 commented on #892
Obviously, but the current system is 'just compile it with PHP and be done with it'

[2017-09-03 15:24] GitTheClone commented on #715
@Auxilus , add metasploit ver. 4.16.4 in your script to get it working with network_interface 0.0.2.

[2017-09-03 18:34] Auxilus commented on #715
@gittheclone, I think network_interface 0.0.2 support is for latest metasploit version

[2017-09-03 19:41] rosamc commented on #1339
Hello,

Thanks for the response. I don't see the "OPT" options that you mention as this is what the _sysconfigdata.py file has:
'OPT': '-DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes',
 'OTHER_LIBTOOL_OPT': '',

However it fails with the following error (below). It seems that I need mkl_rt and blis libraries?

Thanks a lot for your help.

This is what I get when running
`python2 setup.py build

[2017-09-03 20:53] its-pointless commented on #1339
mkl and bl are refereces to other linear algebra libraries. We are using openblas so that is not what is causing this. From memory this is caused because SHELL variable has not been set or is incorrect.
in shell before running python
`export SHELL=~/.termux/shell` in shell should get this to work. You will then see the output which looks like failures but are actually configuration tests being don

[2017-09-04 01:47] sdrausty commented on #1314
@fornwall This happens with other files too.
[code]
No options, no seg fault; It seems...

[2017-09-04 01:57] RafaelRfs opened #1350 "Phone-Hacker Project"
https://github.com/RafaelRfs/Phone-Hacker/

[2017-09-04 05:15] dogear42 opened #1352 "RCS package bin path error"
First, I'm really grateful for the RCS package!

However, I was running rcsdiff (which actually uses diff), and I got this error:

    RCS file: notes/data.org.txt,v
    retrieving revision 1.32
    diff -r1.32 notes/data.org.txt
    **/usr/bin/diff: not found**

I'm guessing we missed something? diff is on the phone, but not at that location.

Thanks!

[2017-09-04 06:28] Grimler91 commented on #1352
Which arch are you on? I uploaded debs for aarch64 and arm [here](https://github.com/Grimler91/Grimler91.github.io), could you try it and see if it fixes the problem? (I'm pretty sure it does but would like to make sure before opening a pull request).

[2017-09-04 10:13] Deathlive commented on #715
@Auxilus The Network_Interface 0.0.2 is already installed in msf4, and it should not be installed?

[2017-09-04 11:21] Auxilus commented on #715
@Deathlive it should be, also have you tried the script?

[2017-09-04 11:27] fornwall commented on #1344
AFAIK `__sentinel__` is supported in clang and a simple hello world compiles for me:

[code]

Could you give a small test case to reproduce the problem?

[2017-09-04 11:28] fornwall commented on #1344
Also, check that you are running with updated packages by running `pkg up`.

[2017-09-04 15:04] dogear42 commented on #1352
Arm. I tried it and got:

[~/notes]
$ rcsdiff -r1.35 -r1.36 data.org.txt
===================================================================
RCS file: data.org.txt,v
retrieving revision 1.35
retrieving revision 1.36
diff -r1.35 -r1.36
/data/data/com.termux/files/usr/bin/diff: not found
[~/notes]
$ which diff
/data/data/com.termux/files/usr/bin/applets/diff

Do I need to install a different package

[2017-09-04 15:45] Grimler91 commented on #1352
Ah, that because you don't have diffutils installed (`pkg install diffutils`), the one in the applets folder is a limited busybox version of diff.

The configure script looks for the some utilities in the normal location (`/usr/bin/`) and finds them since they exist on the computer which we are cross compiling from. This is a bit weird, it should perhaps not assume this path since we are cross com

[2017-09-04 15:48] ClosetMonkey commented on #892
@TheDiamondYT1 your walking a path that has frustrated developers for close to a decade. phpize is not cross-compile friendly, which means you can only compile php extensions (including pecl) by adding them to the php base source tree. this isn't termux specific. you should forward complaints to #phpinterals

[2017-09-04 15:56] TheDiamondYT1 commented on #892
@ClosetMonkey I once used an Android web server app that let you toggle extensions

[2017-09-04 16:02] ClosetMonkey commented on #892
@TheDiamondYT1 yes, but this specific project is for compiling packages. I can send you an .dpkg of the pthreads ext for android if you need,

[2017-09-04 16:04] TheDiamondYT1 commented on #892
Someone else compiled PHP 7.2 with pthreads for me.

[2017-09-04 19:38] Grimler91 commented on #1352
@dogear42 should be fixed with #1353. Before that is merged, you can always just install diffutils manually and it should work with the version you installed manually earlier.

[2017-09-04 19:41] xeffyr commented on #1335
I have tested with symmetric, asymmetric (RSA/RSA, DSA/Elgamal) with compression set to 'zlib' or 'nocompress' and everything works without error.

On my desktop (Arch Linux amd64) installed gpg 2.1.23, on Termux - gpg 1.4.22.

[2017-09-04 20:40] rosamc commented on #1339
Great. THANK YOU SO MUCH!!!
(although I had to use 'export SHELL=/data/data/com.termux/files/usr/bin/bash', in case anybody else runs into the same problem)

[2017-09-04 21:21] vaites commented on #892
I think is a waste of time to try to cross compile any PECL extension using the Android SDK on x86 like any other package or PHP itself. These extensions must be compiled **on the device** because we have all the necessary (C compiler, php-dev package, dev packages for any library...) and PECL is made this way.

We need to fix phpize script and anything else to replace temporary paths and make it

[2017-09-04 21:29] dogear42 commented on #1352
Works great.  Thanks!

[2017-09-04 21:33] sdrausty commented on #892
@vaites The more we can do on device, the better! Like making https://github.com/termux/termux-app on device is way cool. https://github.com/sdrausty/buildAPKs/issues/3 Can we get docker on device, or do we need docker to make packages (*.deb) on device?

[2017-09-04 21:40] vaites commented on #892
No need to use docker on the device... To compile a PECL extension in any Linux distro you need the PHP header files, a C compiler and the dependencies. We have all now on Termux.

[2017-09-04 21:48] sdrausty commented on #892
@vaites can you supply us with a brief example please.

[2017-09-04 21:57] sdrausty commented on #1281
@Neo-Oli @fornwall et. al. Package requests: su, sudo, termux-make-root and termux-make-unroot are potential spin-offs. https://github.com/termux/termux-packages/issues/1176#issuecomment-319508290

[2017-09-04 22:10] vaites commented on #892
Of course. I compiled just now the ImageMagick extension:
[code]
I attached two files: the successful compilation and the `phpinfo() ` output.

![screenshot_20170904-235330](https://user-images.githubusercontent.com/478660/30039223-72bc385e-91ce-11e7-8579-6c28d6b80125.png)
![screenshot_20170904-235830](https://user-images.githubusercontent.com/478660/30039234-889004f8-91ce-11e7-99b4-454033ef57c0.p

[2017-09-04 22:12] vaites commented on #892
As I said, we need to patch php package to fix /bin/sh problem and some other paths. I have some patches done but not enough time to complete. Will send a pull request as soon as I can.

[2017-09-04 22:39] sdrausty commented on #892
![screenshot_20170904-183401](https://user-images.githubusercontent.com/27742457/30039490-cc211538-919f-11e7-9f56-10625dc55323.png)

After `phpsize`
[code]
Thank you!
![screenshot_20170904-183908](https://user-images.githubusercontent.com/27742457/30039527-5b27531e-91a0-11e7-9772-d9dce209d8d2.png)

[2017-09-04 23:42] ClosetMonkey commented on #892
What libc is being used when compiled on device?

[2017-09-04 23:43] its-pointless commented on #892
bionic libc ... the native one

[2017-09-04 23:44] ClosetMonkey commented on #892
So the toolchain on the device has the appropriate Android NDK headers? This is very cool if so

[2017-09-04 23:46] its-pointless commented on #892
yes that is what seperates termux from chroot linux image. everything is using bionic libc.

[2017-09-04 23:50] sdrausty commented on #892
@its-pointless How can I let it see `ldconfig`?

[2017-09-04 23:52] its-pointless commented on #892
thats the reason we set LD_LIBRARY_PATH so the linker can see it.

[2017-09-04 23:54] sdrausty commented on #892
@its-pointless where how if you don't mind me asking.

[2017-09-05 00:00] its-pointless commented on #892
iv never bothered with php. But when you start termux the shell env LD_LIBRARY_PATH is set to /data/data/com.termux/files/usr/lib. this makes the linker at /system/bin/linker or linker64 to search our libs before the android libs. to add to this search path either the executable searches a specific path or you can do this from shell.
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/data/data/com.termux/us

[2017-09-05 00:03] sdrausty commented on #892
@its-pointless I enjoyed rust btw.
[code]

[2017-09-05 02:36] wzhy90 opened #1355 "aria2 failed with Bittorrent download"
Same config on Linux and Mac can done the download, but with termux cannot done.
[code]

[2017-09-05 02:38] wzhy90 commented on #1355
I have grant write storage permission for termux.
All packages in termux is up to date

[2017-09-05 06:31] Deathlive commented on #715
@Auxilus
What could be the problem?
`fish: 'ruby msfconsole' terminated by signal SIGSEGV (Address boundary error)`

I installed by script https://github.com/Deathlive/Storm/blob/master/script/msf.sh

`$PREFIX/bin/find -type f -executable -exec termux-fix-shebang \{\} \;`
`/data/data/com.termux/files/user/bin/find: command too long`

When installing a gem
`Bundle complete! 12 Gemfile dependencies,

[2017-09-05 09:11] Auxilus commented on #715
Please contribute to https://github.com/termux/termux-packages/pull/1357

[2017-09-05 09:31] ChristianCarvs commented on #715
Can anyone can fix network interface 0.0.1 ?? Can't build gem please help

[2017-09-05 09:33] Auxilus commented on #715
network_interface got bumped to 0.0.2 now you can install it by `gem
install network_interface`

[2017-09-05 09:35] timwr commented on #715
@ChristianCarvs grap the latest metasploit-framework, it uses network_interace 0.0.2

[2017-09-05 09:56] #1352 closed

[2017-09-05 10:47] GitTheClone commented on #715
Any way to run metasploit tools like msfvenom, msfconsole, etc. directly from the home directory without having to go through "cd metasploit-framework" ?

[2017-09-05 10:58] Hax4us commented on #715
@GitTheClone Just create a symlink bro...like
ln -s $HOME/metasploit-framework/msfconsole $PREFIX/bin
Now u can use msfconsole from any where

[2017-09-05 11:16] GitTheClone commented on #715
@Hax4us thanks, it works now.

[2017-09-05 12:24] ChristianCarvs commented on #715
@timwr sir can u give me a tutorial how to install metasploit framework again ?? Please

[2017-09-05 12:28] ChristianCarvs commented on #715
Can anyone help me?? i finish installing latest metasploit framework but when i run ./msfconsole
[*] Starting the MetaspLoit Framework conso[*] Starting the MetasplOit Framework conso[*] Starting the MetasploIt Framework conso[*] Starting the MetasploiT Framework conso[*] Starting the Metasploit Framework conso[*] Starting the Metasploit framework conso[*] Starting the Metasploit FRamework conso[*

[2017-09-05 14:04] vaites commented on #892
There are extensions that need patches. @fornwall, what's the best way to do this?. I mean, must we provide patches with php-dev package for the extensions? Must we patch phpize script to automate this?.

Suggestions are welcome...

[2017-09-05 15:10] xeffyr commented on #1355
Android internal storage or sdcard filesystem does not support syscall 'fallocate' (only EXT4 or similar fs supports this), so you have ```fallocate failed. cause: Operation not supported on transport endpoint``` error. You need to try in termux home folder ($HOME).

[2017-09-05 15:16] xeffyr commented on #1307
Optipng is available in official Termux repository, so you don't have to compile it.

[2017-09-05 16:02] Deathlive commented on #715
@ChristianCarvs
New version Metasploit 4.16.4, is not worked in Termux.
Install Metasploit 4.14.38 version.
Use this Instruction
https://github.com/termux/termux-packages/issues/715#issuecomment-320397410

[2017-09-05 16:04] Hax4us commented on #715
@Deathlive I m using 4.16.2

[2017-09-05 16:18] Deathlive commented on #715
@Hax4us I used this https://github.com/Deathlive/Storm/blob/master/script/msf.sh script and install latest version Metasploit, but this dont start. Writen `segmentation fault ruby msfconsolensole.../`
Script created using the wiki.

[2017-09-05 16:22] kuburan commented on #715
the latest version 4.16.4  work well for me, just follow steps given  in wiki

![screenshot_20170905-231707](https://user-images.githubusercontent.com/30179698/30071466-fcfe4b98-9290-11e7-8ee9-9cf86908808d.png)

[2017-09-05 16:26] Deathlive commented on #715
@kuburan You installed network_interfac 0.0.1 or 0.02?
And how to make autoconnect to database, in startup?

[2017-09-05 16:35] kuburan commented on #715
in the latest version automaticaly installed network_interface 0.0.2,  just skip patching v 0.0.1

follow everything in wiki, try to clone their repo, don't downloaded the tarball.

[2017-09-05 17:09] kuburan commented on #715
after succesfully setup postgresql database, create file named `database.yml` in $HOME/.msf4 directory.

![screenshot_20170906-000604](https://user-images.githubusercontent.com/30179698/30073312-853f70e4-9297-11e7-8c62-8fa1860b55ba.png)

[2017-09-05 17:23] Deathlive commented on #715
@kuburan Okay thanks,
Does msfupdate work for you? Suppose if added a new version metasploit, you update via msfupdate or install git clone and gem builder... ?

[2017-09-05 17:34] kuburan commented on #715
@Deathlive yes msfupdate work for me., absolutely i'm updating via msfupdate

[2017-09-05 18:06] sdrausty commented on #1307
tnx

[2017-09-05 19:03] sgeto commented on #151
Hi
What's the status in this? I just checked and `Modules/CMakeDetermineSystem.cmake` has not been patches yet to return Android. Would be nice if that would come through.

He is how I am currently detecting TERMUX with cmake (some of these ideas are taken from your answers here. Thanks for that.)

[code]
This snippet is meant to set variable the variables OS_LINUX and/or OS_ANDROID (which can lat

[2017-09-05 19:44] txoof opened #1359 "tcsetattr fails when running apt in Android 8.0"
The following error shows up whenever a package is installed or removed:
**E: Setting in Start via TCSAFLUSH for stdin failed! - tcsetattr (13: Permission denied)**
Same problem exists for pkg and apt tools

-bash-4.4$ pkg uninstall termux-api
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages will be REMOVED:
  termux-api
0 upgraded, 0

[2017-09-05 21:41] Ismael-VC commented on #58
I'll try to build it and report back.

[2017-09-06 03:59] sdrausty commented on #1314
Older version seg faults too.
[code]
On a side note, how can I generate InRelease & Release.gpg with `termux-apt-repo` or similar?

[2017-09-06 05:22] Deathlive commented on #715
@kuburan
No, I do not work:(
I tried everything, all the options, did everything by the wiki and
`Segmentation faultetasploit Framework conSole.../`

1)Install `git clone https://github.com/rapid7/metasploit-framework`
2)`cd metasploit-framework`
3)`gem install bundler`
4)`Install rbnacl-libsodium`
5)`gem install nokogiri -- --use-system-libraries`
6)`grpc`
7)`bundle install -j5`
8)`$PREFIX/bin/fi

[2017-09-06 07:51] Grimler91 commented on #1314
@sdrausty have a look at my scripts here (taken and manipulated from stackexchange): [update_debs.sh](https://github.com/Grimler91/Grimler91.github.io/blob/master/update_debs.sh) and [testing.conf](https://github.com/Grimler91/Grimler91.github.io/blob/master/testing.conf).

[2017-09-06 08:57] ChristianCarvs commented on #715
@kuburan can u send me the website of the metasploit framework wiki ??

[2017-09-06 08:58] Auxilus commented on #715
https://wiki.termux.com/wiki/Metasploit_Framework

[2017-09-06 09:01] ChristianCarvs commented on #715
@Auxilus thanks but i try using it but i cannot open metasploit framework because of error "Segmentation faultetasploit" please help to solve it

[2017-09-06 09:02] Auxilus commented on #715
Have you tried automatic installation script on wiki?

[2017-09-06 09:09] xeffyr commented on #1359
You are using Android 8.0, so possible that security features of Android are blocking some calls.

[2017-09-06 09:26] ChristianCarvs commented on #715
@Auxilus yes but not successful because of many errors encountered

[2017-09-06 09:27] Auxilus commented on #715
Can you post screenshot of errors?

[2017-09-06 09:38] ChristianCarvs commented on #715
@Auxilus #
![screenshot_2017-09-06-17-35-53](https://user-images.githubusercontent.com/31362410/30105040-004f1ffe-932a-11e7-879a-33f4f2b61e1b.png)

[2017-09-06 09:39] ChristianCarvs commented on #715
And
![screenshot_2017-09-06-17-35-57](https://user-images.githubusercontent.com/31362410/30105136-3e554e04-932a-11e7-9cb3-8aeb98c31eab.png)

[2017-09-06 09:40] ChristianCarvs commented on #715
@Auxilus that's my problem

[2017-09-06 09:42] Auxilus commented on #715
@ChristianCarvs can you try `cd $HOME && curl -L https://Auxilus.github.io/metasploit_test.sh | bash`

[2017-09-06 09:48] ChristianCarvs commented on #715
@Auxilus same problem

[2017-09-06 09:50] Auxilus commented on #715
I'll take a look, stay tuned

[2017-09-06 09:51] ChristianCarvs commented on #715
Ok thanks for that, im using arm device with android lollipop 5.1

[2017-09-06 09:59] Hax4us commented on #715
@ChristianCarvs bro can u try this......tested by more than .100 people
curl -LO https://raw.githubusercontent.com/Hax4us/Metasploit_termux/master/metasploit.sh && sh metasploit.sh

And auxilus...bro there is one mistake in your script plz..fix .as soon as possible...look at tar -xf 4.16.4....it should be 4.16.2

[2017-09-06 10:00] Auxilus commented on #715
@Hax4us thanks for pointing it out!

[2017-09-06 10:02] ChristianCarvs commented on #715
@Hax4us thanks for that

[2017-09-06 10:04] ChristianCarvs commented on #715
@Hax4us i find out that your script has network interface 0.0.1 ?? How to fix it can't build network interface

[2017-09-06 10:05] Auxilus commented on #715
@ChristianCarvs @Hax4us main script should be fixed now

@ChristianCarvs try the script on wiki (not the testing one)

[2017-09-06 10:06] ChristianCarvs commented on #715
@Auxilus ok

[2017-09-06 10:07] Auxilus commented on #715
You can now directly use `msfconsole ` rather than running it as `./msfconsole `

[2017-09-06 10:10] ChristianCarvs commented on #715
@Auxilus were i can use?? The automatic install script or the manual?

[2017-09-06 10:11] Auxilus commented on #715
Automatic
Cd to $HOME, then exec curl -L https://Auxilus.github.io/metasploit.sh |
bash

[2017-09-06 12:50] kuburan commented on #715
@Deathlive. segmentation fault is weird,, i don't have any problem installing using steps given in wiki..

[2017-09-06 13:16] fornwall commented on #1355
It seems that it's an issue with aria2 (you could create an issue against that project to support file systems that does not support `fallocate`).

[2017-09-06 13:16] #1355 closed

[2017-09-06 13:17] fornwall commented on #1350
Thanks! You can post this at https://termux.com/community if you want to share it with more people and get feedback!

[2017-09-06 13:17] #1350 closed

[2017-09-06 13:19] #1344 closed

[2017-09-06 13:32] fornwall commented on #1359
- It seems to be an Android 8.0 problem.
- It doesn't prevent apt from working, as the package is still installed.
- We seem to be hitting this line in apt: [dpkgpm.cc:L1283](https://github.com/Debian/apt/blob/master/apt-pkg/deb/dpkgpm.cc#L1283)
- `tcsetattr` with `TCSAFLUSH` is not completely disallowed in 8.0, as can be tested with:

[code]

[2017-09-06 13:50] #1316 closed

[2017-09-06 19:18] Deathlive commented on #715
@Auxilus
I used this script https://Auxilus.github.io/metasploit.sh ,
but `Segmentation faultetasploit Framework console...|`
Look this installation screenshot https://prnt.sc/ghxrbu

[2017-09-06 19:20] Auxilus commented on #715
I see no error in this screenshot, I see that you have all the gems
installed and you can do ./msfconsole now...

[2017-09-06 19:44] Deathlive commented on #715
@Auxilus
During the installation, there was no error.I installed everything manually.
But https://prnt.sc/ghy20d
with version 4.14 this was not.

[2017-09-06 23:24] coolmate6 commented on #250
I am getting errors when trying to install.packages ("XML") within R on android. It does not seem to be a dependency or package error. Can anyone help ?

usr/include/libandroid-support   -fpic  -g -O2  -c xpath.c -o xpath.o                    xpath.c:37:41: warning: passing 'const             xmlChar *'                                   (aka 'const unsigned char *') to             parameter of typ

[2017-09-06 23:55] its-pointless commented on #250
do you have libgfortran4 not installed?
is the libgfortran.so symlink in $PREFIX/lib missing?

[2017-09-07 00:35] coolmate6 commented on #250
Yes i have libgfortran4 installed. In my lib directory i see :
libgfortran.so.3      libgfortran.so.4.0.0
libgfortran.so.3.0.0  libgfortran.spec
libgfortran.so.4

You are right there is no symlink in $PREFIX/lib in my system. Can you advise which version of the libgfortran i should create a symlink with ?

Tks.

[2017-09-07 00:36] its-pointless commented on #250
with libfortran.so.4.0.0

[2017-09-07 01:01] coolmate6 commented on #250
Excellent and thank you very much. All working now. Cheers.

[2017-09-07 02:18] ChristianCarvs commented on #715
@Auxilus sir the script i tried was successful but when i type ./msfconsole it stop because of segmention fault
![screenshot_2017-09-07-10-16-36](https://user-images.githubusercontent.com/31362410/30142949-ecf55aa4-93b5-11e7-84aa-887d4b92627c.png)

[2017-09-07 02:21] Auxilus commented on #715
@ChristianCarvs maybe @timwr, @kuburan  or @vishalbiswas can help you cz I got no experience with segfault errors

[2017-09-07 02:22] timwr commented on #715
@ChristianCarvs could be an issue with readline, try msfconsole -L?

[2017-09-07 02:57] GitTheClone commented on #715
how to set up postgresql and msfd ? i want detailed guide on this one.

[2017-09-07 04:05] Deathlive commented on #715
@GitTheClone Look the Step 4 and Step 5,
https://droid-max.github.io/2017/08/02/Deploy-MSF-and-Postgresql-on-Termux/

[2017-09-07 07:26] kuburan commented on #715
@Deathlive  I just tried to install metasplolit again with fresh termux installation, and i got V 4.16.5

can i see your `Gemfile.lock` file. maybe some gem file need to be upgraded to fix the problem.

[2017-09-07 08:37] Deathlive commented on #715
@kuburan
https://github.com/Deathlive/Storm/blob/master/Gemfile.lock

[2017-09-07 08:45] tester962 opened #1381 "Package request: ddrescue"
GNU ddrescue is a data recovery tool. It copies data from one file or block device (hard disk , flash drive etc) to another, trying to rescue the good parts first in case of read errors.

https://www.gnu.org/software/ddrescue/

An interesting article, including build help for ARM:
https://ncrmnt.org/2017/05/12/data-recovery-sd-ddrescue-and-android/

[2017-09-07 10:39] xeffyr commented on #1307
__sdrausty__, I can compile it without any error. Try to pass option '-with-system-libpng' to ```./configure```.

[2017-09-07 10:50] Grimler91 commented on #1307
@sdrausty try with `--with-system-zlib` as well

[2017-09-07 11:27] kuburan commented on #715
@Deathlive i think your problem in rbnacl-libsodium. you can compare it beetwen your Gemfile.lock and the original Gemfile.lock at [rapid7]( https://github.com/rapid7/metasploit-framework/blob/master/Gemfile.lock)

reinstall rbnacl-libsodium :
$ gem uninstall rbnacl-libsodium
$ gem install rbnacl-libsodium

try to recompiling rbnacl-libsodium
but, skip this step :
$ sed 's|">= 3.0.1"|"~> 3.0", ">=

[2017-09-07 13:14] Auxilus commented on #715
I removed rbnacl-libsodium from gemfile and gemspec.

[2017-09-07 13:36] Deathlive commented on #715
The problem is not in rbnacl-libsodium.
1) https://prnt.sc/gi8ql3
2) http://prntscr.com/gi8qvl

[2017-09-07 14:26] ghost opened #1383 "mysql gem is not getting installed"
$ gem install mysql
Building native extensions.  This could take a while...
ERROR:  Error installing mysql:
        ERROR: Failed to build gem native extension.
    current directory: /data/data/com.termux/files/usr/lib/ruby/gems/2.4.0/gems/mysql-2.9.1/ext/mysql_api
/data/data/com.termux/files/usr/bin/ruby -r ./siteconf20170907-2371-5yb2k8.rb extconf.rb
checking for mysql_query() in -lmysqlclient.

[2017-09-07 14:51] Grimler91 commented on #1383
So we probably need to see that aswell

[2017-09-07 14:53] Auxilus commented on #1383
I think gem needs libmysqlclient-dev to install with native extensions

[2017-09-07 14:56] suryapoo commented on #1383
Output from mkmf.log :

1 find_library: checking for mysql_query()
  2
  3 "arm-linux-androideabi-clang -o conftest
  4 checked program was:
  5 /* begin */
  6 1: #include "ruby.h"
  7 2:
  8 3: int main(int argc, char **argv)
  9 4: {
 10 5:   return 0;
 11 6: }
 12 /* end */
 13
 14 "arm-linux-androideabi-clang -o conftest
 15 conftest.c:13:57: error: use of undeclare
 16 int t(void) { void ((*

[2017-09-07 15:07] Deathlive commented on #715
What is the difference between this version 1) https://github.com/termux/termux-packages/issues/715#issuecomment-320478903
and this 2) https://Auxilus.github.io/metasploit.sh

When I install the first option on the instructions all works, but 2 option = Segmentation Fault.
What is the difference? Except versions 1→ 4.14 , 2→ 4.16.4.

[2017-09-07 15:25] Auxilus commented on #715
@Deathlive diff is, steps in comments uses @timwr 's metasploit-framework fork for installation and the script uses metasploit-framework releases from rapid7.

[2017-09-07 18:37] gagan0123 commented on #630
Even I'm waiting for this for so long.

Thanks to the Termux team we now have mariadb, but without MySQL extension for PHP, its of no use.

[2017-09-07 21:12] maddalakum commented on #908
Hi could you please give me the package name phantomjs in termux and how to to install it that would me helpfull

[2017-09-07 21:31] maddalakum commented on #908
It showing the below error [
![img_20170908_025935](https://user-images.githubusercontent.com/25227751/30186156-f7ff3316-9441-11e7-9a67-28addedf28a1.jpg)
](url)

[2017-09-08 04:05] sdrausty opened #1398 "Some of the packages from termux.net don't work with termux-apt-repo"
Thanks.

Stable / Testing / Experimental Termux 💪🙂 Distributions are the goals of this issue. Please assist in resolving them ASAP (As Soon As Possible).

g093 @Auxilus some of the packeges from termux.net don't work with terux-apt-repo
g093 subprocess.CalledProcessError: Command '['ar p storage/external-1/debs/termux.net/dists/stable/main/binary-arm/brogue-1.7.4_arm.deb control.tar.xz | tar --to-

[2017-09-08 07:45] Deathlive commented on #715
@Auxilus
The latest version metasploit precisely works for you?

1) git clone git clone https://github.com/timwr/metasploit-framework
2) gem install bundler
    gem install nokogiri -- --use-system-libraries
3) nano Gemfile.lock → fix network_interface (0.0.2) → fix rb-readline (0.5.5)
4) install grp by https://wiki.termux.com/wiki/Metasploit_Framework#grpc
5) bundle install -j5 ---> Metasploit is

[2017-09-08 07:47] Auxilus commented on #715
I dont recommend using clone cz it might have some bugs, thats why i use
tarball, tbh ive tested metasploit-framework uptill version 4.16.2

[2017-09-08 08:03] Deathlive commented on #715
I tried all the installation options(git clone, tar ...)
Is it necessary to install rbnacl-libsodium across wiki, why patches are needed if it work and through termux-chroot?
and if so then do really need these 2 lines
`sed 's|">= 3.0.1"|"~> 3.0", ">= 3.0.1"|g' -i rbnacl-libsodium.gemspec`
`sed 's|">= 10"|"~> 10"|g' -i rbnacl-libsodium.gemspec`

[2017-09-08 08:04] Auxilus commented on #715
You can always disable rbnacl-libsodium if thats what causing segfault

[2017-09-08 08:46] Deathlive commented on #715
In this and the problem:)
I do not know what causes this segfault.

[2017-09-08 09:20] kaushalmodi commented on #1076
I ended up on this thread as I was surprised to see the time showed by Termux Emacs to be in GMT 00 or UK time zone. E.g. it's 5am EST, but the time shown within Emacs is 10am.

I couldn't follow this thread.. is there something I need to put in my Termux config locally to fix this?

[2017-09-08 09:30] Neo-Oli commented on #1076
@kaushalmodi Is your problem at all related to `termux-chroot` or is it a general problem running emacs. I just tested it on my phone and emacs shows the correct time inside and outside of `termux-chroot`. Can you run `pkg up` to see if you can update any packages?

[2017-09-08 09:40] Neo-Oli opened #1401 "Creating Files/Folders in postinst"
https://github.com/termux/termux-packages/blob/45a524ed4345a842b209d61e2966d8ce77d6f733/packages/moria/build.sh#L20-L21
This is a very minor thing. Moria creates this file in the postinst, so that scores don't get erased when the package updates. While this is a good thing, it leads to several undesirable consequences:
* If moria is removed, this file and folder remains.
* If another program that

[2017-09-08 09:59] Neo-Oli commented on #1076
I tested it even with TZ unset and it still works. What is the output of `getprop persist.sys.timezone` on your device? It should print the correct timezone.
In by .bash_profile I have the following set because some self-compiled or pip/gem installed programs may still require it (khal for example):
`export TZ=$(getprop persist.sys.timezone)`

[2017-09-08 10:08] kaushalmodi commented on #1076
The `getprop` outputs `America/New_York` correctly.

Try doing `(setenv "TZ" "")` within Emacs. I'd be surprised if you still saw the correct time (unless you *are* in UTC 00 time zone :))

https://www.gnu.org/software/emacs/manual/html_node/elisp/Time-Zone-Rules.html

[2017-09-08 10:36] Auxilus opened #1402 "Error while installing gems with native extensions inside docker"
While building https://github.com/termux/termux-packages/pull/1361 the docker is showing error while installing gems with native extensions, other gems ( that don't need native extensions like mini_portile from the screenshot ) install correctly.

The error says :
[code]
![screenshot_20170908-152731](https://user-images.githubusercontent.com/23075789/30208066-7f508258-94af-11e7-89b7-0dc94f602b8e.p

[2017-09-08 10:39] Grimler91 commented on #1402
`ruby.h` seem to be at `$PREFIX/include/ruby-2.4.0/ruby.h` so try symlinking it to the include dir

[2017-09-08 10:41] Auxilus commented on #1402
Like `ln -s $PREFIX/include/ruby-2.4.0/ruby.h  /usr/lib/ruby/include/`?

[2017-09-08 10:47] Grimler91 commented on #1401
python (with packages installed through pip) and texlive (with packages installed through tlmgr) have the same problem as point 1.

There, we have these kind of `prerm` scripts:
[code]

If we uninstall the package then the files are removed, but if we upgrade they are left alone.

This doesn't solve point 2 though.

[2017-09-08 11:10] Neo-Oli commented on #1076
Yeah, you're right. That causes the time zone to be wrong. You may want to create a separate issue for this. In my opinion TZ should be set by default.

[2017-09-08 11:42] Auxilus commented on #1402
Still got the error
![screenshot_20170908-171002](https://user-images.githubusercontent.com/23075789/30210088-9ffdabda-94b8-11e7-9206-b8f3fb5202b8.png)
Check     https://github.com/Auxilus/termux-packages/blob/08bca9c9c3e0615d9175353de57fe57ba5d120b0/packages/metasploit-framework/build.sh#L62

[2017-09-08 11:43] Auxilus commented on #1402
Is `ruby.h` even there at `$PREFIX/include/ruby-2.4.0/ruby.h ` ?

[2017-09-08 11:53] Grimler91 commented on #1402
If ruby is in termux_pkg_depends, then yeah, otherwise no

[2017-09-08 11:54] Grimler91 commented on #1402
$PREFIX won't work though since we are in the docker image, use $TERMUX_PREFIX

[2017-09-08 11:54] Auxilus commented on #1402
K

[2017-09-08 11:55] Auxilus commented on #1402
Yeah doint it atm ty..

[2017-09-08 12:06] Auxilus commented on #1402
@Grimler91 still got the error
https://raw.githubusercontent.com/Auxilus/termux-packages/3e8aaa4df5c4f8bf7a3a3cb4663980019c3ed1fe/packages/metasploit-framework/build.sh

[2017-09-08 12:26] Auxilus commented on #1402
@Grimler91 it says no such dir called /usr/lib/ruby/include/

[2017-09-08 13:00] kuburan commented on #715
@Deathlive do you ever try installing rbnacl-libsodium without termux-chroot ?

[2017-09-08 13:01] Grimler91 commented on #1402
Yeah, that's a weird path..

`ln -s $TERMUX_PREFIX/include/ruby-2.4.0/ruby.h /usr/lib/ruby/include/`
should be
`ln -s $TERMUX_PREFIX/include/ruby-2.4.0/ruby.h $TERMUX_PREFIX/include/`

[2017-09-08 13:07] Auxilus commented on #1402
@Grimler91 still not working, can you please take a look?
Code : https://raw.githubusercontent.com/Auxilus/termux-packages/4dec3b8392e8ab534c398aa94631b77e592886a6/packages/metasploit-framework/build.sh

Execution : https://tmate.io/t/ro-jqGnv00vKRC7WJ8PsbcwAo0um

[2017-09-08 13:14] Auxilus commented on #1402
also it says no dir when i do symlink to $TERMUX_PREFIX/lib/ruby/include/   , Do I have to create $TERMUX_PREFIX/lib/ruby/include/ ?

[2017-09-08 15:05] stephengroat opened #1403 "Travis CI fails on new trusty images"
Open an issues with travis-ci https://github.com/travis-ci/travis-ci/issues/8375

[2017-09-08 15:07] Auxilus commented on #1403
I think https://github.com/termux/termux-packages/pull/1361 is a big cause ( which I'm really feeling sorry for )

[2017-09-08 15:08] Auxilus commented on #1403
Also https://github.com/termux/termux-packages/pull/1400 ain't working cz its not even downloading the docker image..

[2017-09-08 15:10] stephengroat commented on #1403
no problem, the more builds the merrier. i trigger a bunch too

afaik, builds should be independent of each other (unless build artifacts are being maintained, which they're not). it might have something to do with the **huge** amount of logs that these builds are creating (which travis does keep), but i don't know

[2017-09-08 15:35] stephengroat commented on #1403
https://github.com/termux/termux-packages/pull/1399/commits/92b5d263d980261be6afa7c124e98f4436f99e05 seems to fix it, included in #1399

[2017-09-08 16:31] Deathlive commented on #715
@kuburan Yes I tried, but did not help.

[2017-09-08 17:25] Auxilus commented on #1403
Is this was causing https://github.com/termux/termux-packages/pull/1400 to fail?

[2017-09-08 17:32] stephengroat commented on #1403
@Auxilus not sure, doesn't seem like that same problem but COULD be related

[2017-09-08 17:33] Auxilus commented on #1403
I think its related cz it doesn't even bothers to download the docker image!

[2017-09-08 21:34] BotellaA commented on #51
Does this other app exist? Is this opengl idea still active?
I would love to be able to use it!

[2017-09-08 22:27] its-pointless commented on #1249
yeah i added this #1408 . You could do some testing since i have this added this to my repo etc. Should be relatively fine.

[2017-09-08 23:31] knyzorg commented on #1315
did you try removing httpd.pid?

[2017-09-09 04:29] ClosetMonkey opened #1409 "Paths when building on device with clang"
When using toolchain provided via apt (clang, ndk-sysroot, autotools, etc) should I anticipated  issues with hardcoded file paths pointing to '/data/data/com.termux/'? This would be easy enough to fix by building packages manually after editing patch files etc, but would rather use apt in device where possible

[2017-09-09 04:42] markus-zzz commented on #51
I did some work on this about a year ago. https://github.com/markus-zzz/vulkan/tree/master/soloader

[2017-09-09 05:26] sdrausty opened #1410 "pip install spyder ERROR"
![screenshot_20170909-012541](https://user-images.githubusercontent.com/27742457/30237335-f5fcfbea-94fd-11e7-961a-2cc3210cd9ac.png)

[code]
![screenshot_20170909-013644](https://user-images.githubusercontent.com/27742457/30237420-8d978f78-94ff-11e7-9040-86f50297c1f7.png)

[2017-09-09 05:45] sdrausty commented on #1410
![screenshot_20170909-014349](https://user-images.githubusercontent.com/27742457/30237459-62e8f6bc-9500-11e7-92c2-f4665b849a52.png)
Keep up your great work! ☺

[2017-09-09 07:01] sdrausty commented on #1383
@Auxilus Where is libmysqlclient-dev ?

[2017-09-09 07:09] sdrausty opened #1411 "pip install pygame ERROR"
$ pip install pygame
Collecting pygame
  Downloading pygame-1.9.3.tar.gz (3.0MB)
    100% |████████████████████████████████| 3.0MB 111kB/s
    Complete output from command python setup.py egg_info:

    WARNING, No "Setup" File Exists, Running "config.py"
    Using UNIX configuration...

    /data/data/com.termux/files/usr/bin/sh: 1: sdl-config: not found
    /data/data/com.termux/files/usr/bin/sh

[2017-09-09 07:40] Auxilus commented on #1383
@sdrausty we dont have it

[2017-09-09 07:43] Auxilus commented on #1411
It needs `sdl-dev, libsdl-dev` which we dont have in repo

[2017-09-09 13:05] shubhradas commented on #1244
USE:-
./start.sh

[2017-09-09 18:05] xeffyr commented on #1410
It requires PyQt, it is not available for Termux.

[2017-09-09 18:32] zelhar opened #1418 "(Neo)Vim - Display gets corrupted from search/scroll navigations."
This is a problem which occurs when the terminal window is not considerably zoomed out  to the point that the font is too small.

To reproduce this bug:
open a long document in vim/neovim. search a term and scroll through the results. sometimes just scrolling down produces similar corruption. What happens is that some lines get reproduced or broken including the status bar. The cursor overshoots t

[2017-09-09 19:37] Wrench404 opened #1422 "Package request: heyu."
I wanna you compile this x10 protocol controlling package. I've tried, but I am newbie, so I can't copmile the source code.

[2017-09-10 02:38] sdrausty commented on #1411
https://www.pygame.org/news I just got word of it through Termux. Seems like a grand addition https://github.com/pygame/ 👍

[2017-09-10 02:42] sdrausty commented on #1410
@xeffer Thanks for your reply. I got word of https://github.com/spyder-ide/spyder by reviewing https://wiki.termux.com/wiki/List_of_Python_packages_known_to_work

[2017-09-10 13:19] ytrezq opened #1423 "Package request wine"
Hello,
it would be nice to be able to run simple windows console programs like botvs.
However wine is difficult to compile and have many dependecies like mono. Of course, in order to make things simpler, building graphic support is not needed.

[2017-09-10 13:23] Auxilus commented on #1423
@ytrezq please refer https://github.com/termux/termux-packages/pull/332

[2017-09-10 17:25] ytrezq commented on #1423
Looks likes there are no pre built package.
Would it be poosible to create a disabled by default repository for such packages?

[2017-09-10 18:17] Grimler91 opened #1426 "termux-info gives java error (aarch64, android 7.0)"
Recently bought a new phone, just noticed that termux-info gives a java error:

[code]

I've flashed a custom ROM (sources aren't available) so that could be the culprit.

[2017-09-10 18:35] Grimler91 opened #1427 "pass generates passwords from only 8 characters, always (aarch64, android 7.0)"
Running `pass generate -c test/test` two times gives me:
`p[p[ahhhgg:[ahgh[ag:paa[p` and `gpa:r[:grgg[:]rra[[rargh]`

Turns out the same 8 chars are used all the time, the generated passwords aren't very secure so this is quite serious.

Here's a small script that generates 10 passwords and then counts the number of unique characters (it boats your pass git history, sry about that):

[code]

For m

[2017-09-10 19:05] Neo-Oli commented on #1427
Because busybox's tr doesn't support the [:graph:] modifier, all passwords generated contain only the characters [:graph].

[2017-09-10 19:14] Grimler91 commented on #1427
@Neo-Oli did you figure that out by noticing that the characters happen to make up `[:graph]`?
Thanks, this solves it!

[2017-09-10 19:23] Neo-Oli commented on #1427
Something like that. pass used to require coreutils for pwgen, but after they started to use /dev/urandom directly instead of pwgen that requirement was dropped. I did test everything at the time, but I guess in some minor update they must have replaced the long list of characters with [:graph:].

[2017-09-10 19:49] #1427 closed

[2017-09-10 19:52] #1381 closed

[2017-09-10 20:13] #1410 closed

[2017-09-10 20:19] fornwall commented on #1418
Thanks for reporting!

Could you give some more exact steps for reproducing? Perhaps by sharing your exact terminal size (run ´pkg install vutils`, then see the terminal size by running `vtsize`) before running vim, and sharing a text document where you can easily reproduce the problem?

[2017-09-10 20:35] fornwall commented on #1409
Sorry, I'm not sure what you're after here! Could you describe a bit more what you want to do?

[2017-09-10 20:37] fornwall commented on #1427
Thanks! The updated package is now available for installation.

[2017-09-10 20:55] #1411 closed

[2017-09-10 21:00] fornwall commented on #1398
The problem is that termux-apt-repo assumes that the deb files contains a control.tar.xz.

Termux used a control.tar.gz before b96b5b147c52a7ecb19199431e13c3195823fe66 in january 2016, at which time the switch to .xz was made.

So: Old packages which haven't been rebuilt since january 2016 will have a control.tar.gz file and not work with termux-apt-repo. I think the best course of action is to re

[2017-09-10 21:01] fornwall commented on #1252
@Neo-Oli @sdrausty Does this work better for you with the latest ncurses package (version 6.0.20170909)?

For me weechat works a lot better when resizing (but I haven't managed to reproduce the problem with the ncmpcpp visualizer).

[2017-09-10 21:39] fornwall commented on #954
AFAIK note you disassembly-flavor is only supported/defined on x86. If you are running on an arm device it's not supported. Could this be the case here?

[2017-09-10 22:27] zelhar commented on #1418
Hello and thanks for replying. I believe I know the cause and it is probably only vim related and so my apology for bothering you.

to reproduce the problem
I set sessionoptions to:
ˋset sessionoptions=blank,buffers,curdir,folds,resize,slash,unix,winpos,winsize,tabpagesˋ
I autoload the session on vim startup.
when I resize (zoom in) termux, then start vim again, it gets messed up probably because

[2017-09-10 22:37] fornwall commented on #1418
No problem! Let me know if you suspect any Termux-specific problem!

[2017-09-10 22:37] #1418 closed

[2017-09-11 00:03] sdrausty commented on #1411
@fornwall can you please state a little bit behind your choice to close this issue?

[2017-09-11 00:03] sdrausty commented on #1410
@fornwall can you please state a little bit behind your choice to close this issue?

[2017-09-11 00:17] maddalakum commented on #908
Hi Can any one Solve this Error

[2017-09-11 00:21] sdrausty commented on #1403
To @whoeverfixxedthis 👉THANK YOU🚣🚢⛵

[2017-09-11 03:25] sdrausty commented on #1403
Do u trust travis?

[2017-09-11 03:40] sdrausty commented on #1411
I'm not too concerned myself since I was merely filing in top ten search results for https://wiki.termux.com/wiki/List_of_Python_packages_known_to_work This program ran into errors. Can you please suggest a course of resolution?

pygame is active and has 100+ 🌟 stars

[2017-09-11 03:50] sdrausty commented on #1410
I'm not too concerned myself, since I was merely filling in top ten search results for https://wiki.termux.com/wiki/List_of_Python_packages_known_to_work It did not install, so I posted this issue. This program ran into errors. Can you please suggest a course of resolution?

spyder is active and has 2.3K+ 🌟 stars https://wiki.termux.com/wiki/Package_Management#Package_requests

It seems to fullfil

[2017-09-11 03:54] sdrausty commented on #1403
How can u tell travis to build something on device in Termux?

android
?

[2017-09-11 04:24] Neo-Oli commented on #1411
pygame can't work because it's a GUI-Program. Termux only supports Terminal applications.

[2017-09-11 05:20] sdrausty commented on #1411
@Neo-Oli Thank you for your time and attention.

[2017-09-11 08:58] RSCipher001 commented on #1001
I tried following same tutorial but there is not common.gypi file available anywhere, any ideas??
node is 6.11.3

[2017-09-11 09:37] TECHBEST commented on #98
I m not able to run metasploit in my termux after giving command ./msfconsole it showing .Segmentation faultetasploit Framework consoLe...\. Plzzzz help

[2017-09-11 09:41] Deathlive commented on #715
@kuburan
Hi you can show `database.yml` file, for automatic connection in database?
I created the database like this...
`mkdir -p $PREFIX/var/lib/postgresql`
`initdb $PREFIX/var/lib/postgresql`
`pg_ctl -D $PREFIX/var/lib/postgresql start`
`createuser msf`
`createdb msfdb`
`pg_ctl stop`

Just add the file in .msf4 and the end?

[2017-09-11 10:09] Neo-Oli commented on #98
@TECHBEST https://wiki.termux.com/wiki/Metasploit_Framework

[2017-09-11 11:55] Neo-Oli commented on #1410
Spyder also seems like a GUI thing.

[2017-09-11 13:35] martmists commented on #136
For some reason it stopped working after setting zsh as my main shell, not sure if zsh or oh-my-zsh bug, but using @phcoder's solution it worked

[2017-09-11 13:35] stainslav opened #1435 "#Help"
I'm an unrooted user help me in creating app without root developers from beginning with every step please!
I request you all here please I have seen your commites on this issue so I'm posting my issue hope you don't mine!)
But please help:(

[2017-09-11 14:46] martmists opened #1436 "Package Request: play"
The [play](https://linux.die.net/man/1/play) command is a lesser known program in Linux, but I'd love to see this added to termux so I won't have to make hacky aliases or add workarounds to code.

[2017-09-11 14:50] stephengroat commented on #1403
@sdrausty travis is trustworthy, building thousands of open source projects every day. since travis is cross-compiling using the Android NDK, it can build for android

[2017-09-11 14:53] martmists commented on #1339
Shorthand for this is `SHELL=$PREFIX/bin/sh pip install numpy` if anyone is still having this issue.
Note: you DO need to install `clang` and `python-dev` first.

[2017-09-11 18:10] hyc opened #1438 "Package request: monero"
This script successfully builds Monero for me, but it's full of hacks to get around CMake problems. Was there a cleaner way to do it?

[build.sh.txt](https://github.com/termux/termux-packages/files/1293542/build.sh.txt)

I overrode the configure_cmake() step because the line
`-DCMAKE_LINKER="$TERMUX_STANDALONE_TOOLCHAIN/bin/$LD $LDFLAGS"`
was breaking invocations of $CMAKE_LINKER. CMake was backsl

[2017-09-11 18:14] Auxilus commented on #1435
(Looks like you use translator)

You don't need root to install termux ( if that's what you meant by 'help me in creating app without root' )

[2017-09-11 19:47] sdrausty commented on #1252
@fornwal weechat works much better. Thank you!

Garbage seems gone. Is there anything that can be done about the refreshes weechat does, before settling down? Unlike weechat, emacs erc is steady as a rock.

[2017-09-12 02:10] sdrausty commented on #1403
@stephengroat thanks for your answer. More specifically: How can I tell Travis to build like we are building in Termux on device?

I'd like to create a .travis.yml for https://github.com/sdrausty/buildAPKs which is designed to build on device in Termux. How can I tell Travis to do that?

[2017-09-12 02:13] stephengroat commented on #1403
@sdrausty right now there's no way to do that. that would require a full android emulation

it's possible, just not implemented yet. something you're interested in looking into? travis has some examples of emulating apps (https://docs.travis-ci.com/user/languages/android/#How-to-Create-and-Start-an-Emulator)

[2017-09-12 02:44] sdrausty commented on #1403
@stephengroat thanks for the link. I am definitely interested in this topic. Any idea what jdk: in .travis.yml for emulating Termux might be?

[2017-09-12 02:45] stephengroat commented on #1403
@sdrausty i'd just pick the latest

[2017-09-12 02:48] sdrausty commented on #1403
thanks :)

[2017-09-12 03:42] wdscxsj opened #1454 "locate exits prematurely"
Hello,

I installed `mlocate` and called `updatedb`, but even this failed to print anything:

[code]

`mlocate.db` has been properly created:

[code]

It seems that my `locate` exited prematurely after failing to get `r+x` access to `/` on startup:

[code]

My phone is Xiaomi 6 running Android 7.1.1. Any suggestion is appreciated. Thanks!

[2017-09-12 08:23] lucabelmondo opened #1455 "GNU sort and other GNU packages"
Hi, I have scripts and configs that depend on GNU sort (as opposed to the BusyBox version), specifically to check versions strings.
Is there some way to install it natively in termux, or shold I do it from source?
In general, is there someway to install the GNU version of common packages in bulk?
Thank you!

[2017-09-12 08:39] vanous commented on #264
Hi, thanks for gnu screen in termux!

After splitting screen (Ctrl-a S), the newly created window has no prompt, no response. One can move into it (Ctrl-a Tab) but it visually takes no keystrokes. Closing it (Ctrl-a X iirc) closes it correctly. The same issue on vertical/horizontal split.

Anyone experiences the same issue?

[2017-09-12 08:42] vanous commented on #264
Oh, i didn't realize that new screen must be now created in the new window via Ctrl-a. Perhaps this helps to someone.

[2017-09-12 08:48] Neo-Oli commented on #1455
yes. `pkg install coreutils`

[2017-09-12 08:56] Grimler91 opened #1456 "texlive: tracking future work"
This issue is for tracking the work on various improving texlive for termux.

**To do list:**
- [x] Put files in standard locations (closed in https://github.com/termux/termux-packages/pull/2065)
- [ ] Develop script to move texmf-dist tree to external storage
- [x] Create pkg texlive-full and move tlmgr to it's own package
- [x] Handle tlpdb better
- [x] Specify packages instead of files
- [ ] Sp

[2017-09-12 09:26] lucabelmondo commented on #1455
Thank you! 😄

[2017-09-12 09:26] #1455 closed

[2017-09-12 12:12] suryapoo opened #1468 "thin gem is not getting installed."
$ gem install thin -- --use-system-libraries
Building native extensions with: '--use-system-libraries'
This could take a while...
ERROR:  Error installing thin:
        ERROR: Failed to build gem native extension.

    current directory: /data/data/com.termux/files/usr/lib/ruby/gems/2.4.0/gems/eventmachine-1.2.5/ext
/data/data/com.termux/files/usr/bin/ruby -r ./siteconf20170912-9536-rr7j6t.rb extc

[2017-09-12 12:20] Neo-Oli commented on #1468
Try installing `ruby-dev`, as it contains the ruby header files.
`pkg install ruby-dev`

[2017-09-12 12:26] suryapoo commented on #1468
After installing ruby-dev:
Welcome to Termux!

Online help:     https://termux.com/help
Community forum: https://termux.com/community
IRC channel:     #termux on freenode
Gitter chat:     https://gitter.im/termux/termux
Mailing list:    termux+subscribe@groups.io

Search packages:   pkg search <query>
Install a package: pkg install <package>
Upgrade packages:  pkg upgrade
Learn more:        pkg he

[2017-09-12 16:35] suryapoo commented on #1468
Hey...make was missing..after installing make, its working fine.!

[2017-09-12 16:59] azaka commented on #1249
Hi

I managed to install poco by merging the libpoco branch into my local repo and then building under Docker

$ dpkg -i libpoco_1.pre-cpp11-0_aarch64.deb
Selecting previously unselected package libpoco.
 (Reading database ... 19236 files and directories currently installed.)                                                 Preparing to unpack libpoco_1.pre-cpp11-0_aarch64.deb ...
Unpacking libpoco

[2017-09-12 22:23] sdrausty commented on #1456
Thank you for your awe inspiring work with tex and similar ☺

[2017-09-12 22:49] torappinfo opened #1479 "package Request: hoedown (markdown parser)"
Hoedown is written in c (fork of sundown) and has no dependency. Thus it should be easier than other mark down parsers to port it to termux.

[2017-09-12 22:54] sdrausty commented on #1398
@fornwall thank you for your time and quick reply.

[2017-09-12 22:55] sdrausty commented on #1479
https://github.com/hoedown/hoedown

[2017-09-13 05:25] vishalbiswas commented on #249
Anybody on arm can help me out?
Try this package and report how well it works https://drive.google.com/drive/folders/0B8Q4yBRb9PSHdWpORmMzQWhIYUk
Note: You have to install pcre from that folder as well, because the current version in repo doesn't have cpp bindings enabled.

[2017-09-13 06:25] codgician commented on #1192
Same issue with `nodejs-current`
`node -v` prints `8.4.0`.

[2017-09-13 11:42] T-vK commented on #249
@vishalbiswas I downloaded the files to my SD and then using Termux I copied them into my home directory. Then I did a chmod 777 on them and also a chown... both commands worked, but when I try to access the files I always get a `permission denied`. I guess that's some SELinux blackmagic that happens for files on the SD card. I never had this problem when downloading files in Termux with wget dire

[2017-09-13 11:53] Grimler91 commented on #249
@T-vk can't you just move them from termux? `cp /storage/extSdCard/*.dev ~`?

You can also use the normal android file manager, long-press the file, press share and share it to termux to "download" it to ~/downloads.

[2017-09-13 11:56] T-vK commented on #249
@Grimler91 That's what I did. I have the file in my Termux home folder. But I don't seem to have access permission, even though I own it and permissions are set to 777.

[2017-09-13 12:43] GitTheClone commented on #715
Can anyone get the "msfvenom -x apktobind.apk -p ....." command working ? need it for binding

[2017-09-13 12:49] christianrondeau commented on #1192
I think more information can be found here: https://github.com/golang/dep/issues/947

These issues seem to have the same core issue: hardlinks not being supported (enough) on AUFS and in Termux.

Something similar was found in OpenSSH, here's how it was fixed: https://github.com/termux/termux-packages/commit/6bbba8f22a14ec12e942950417414be0e67620ea

Hope that helps.

[2017-09-13 13:37] Auxilus commented on #715
msfvenom is working bro first cd into metasploit directory then you can
execute msfvenom by `./msfvenom`

[2017-09-13 14:40] timwr commented on #715
You need apktool, keytool and jarsigner for msfvenom -x

[2017-09-13 14:48] GitTheClone commented on #715
how to get keytool and jarsigner ? i somehow got java

[2017-09-13 15:16] vishalbiswas commented on #249
@T-vK github.com doesn't support files larger than 10mb. any other way?

[2017-09-13 15:18] Auxilus commented on #249
@vishalbiswas when i tried to install pcre, it removed tons of my packages,
is that supposed to happen?

[2017-09-13 15:19] vishalbiswas commented on #249
@Auxilus no

[2017-09-13 15:20] Auxilus commented on #249
Okay... 😅

[2017-09-13 15:21] T-vK commented on #249
@vishalbiswas Dang it... I'm gonna try to set up a local http server. This way I should be able to wget the files with Termux over my Wifi..

[2017-09-13 15:22] vishalbiswas commented on #249
@T-vK you can just share that file to termux from any file manager

[2017-09-13 15:23] Auxilus commented on #249
@T-vK there is a cool npm package called `http-server`

[2017-09-13 15:26] Auxilus commented on #249
@vishalbiswas Can you please help me out with https://github.com/termux/termux-packages/pull/1361 ? The build script is having issue with building gems with native extensions, gives error that `couldn't find header files (ruby.h)` even though I added `sudo apt-get -y install ruby ruby-dev` in the script
PS: sorry to go off topic to this issue btw

[2017-09-13 15:31] T-vK commented on #249
@vishalbiswas Well, not any. It needs to run on the phone directly, and it needs to have root permissions. But nevertheless, when I copy a file with such a file manager to the Termux home dir, I get the same `permission denied` problems that I got after doing `cp`.

[2017-09-13 15:53] Grimler91 commented on #249
@T-vK What exactly are you copying and what exactly are you running when you `permission denied`?

[2017-09-13 16:05] T-vK commented on #249
@Grimler91 It doesn't matter which file I copy. I get this issue with any file from the SD card. And the permission denied happens for any command. Be it `cat`, `vim` or any other command that tries to read the file and probably also any command that tries to write to it or execute it...

[2017-09-13 16:53] vishalbiswas commented on #249
@T-vK I didn't say "copy". I said "share". Tap and hold on a find and click share then select termux. It will be stored in ~/downloads

[2017-09-13 16:53] ExarchD opened #1486 "pdflatex failure"
Hi,
I'm having trouble with pdflatex and lualatex. I think it may be due to poppler, but that's wild guess from what packages updated right before my issues.

I'm getting:

Any clues?

[2017-09-13 16:56] T-vK commented on #249
@vishalbiswas It seemed to have worked at first. I was able to run mongod. Then from another terminal I started mongo and that seems to have caused both mongod and mongo to crash. Now when I try to run mongod, I get this:
[code]
When I clear the contents of `` and run mongod again it keeps running:
[code]

From another machine I was then able to access it with mongo

[2017-09-13 17:07] sdrausty commented on #1486
@ExarchD post more clues to this issue please:
👉 What is your OS system?
👉 What command did you excecute?
👉 ETC...

[2017-09-13 17:10] ExarchD commented on #1486
armv8l is the arch. I'm using a chromebook plus.
The command was `pdflatex'.

[2017-09-13 17:25] sdrausty commented on #1486
@Grimler91 I get the same error.
[code]
![screenshot_20170913-132450](https://user-images.githubusercontent.com/27742457/30391337-0034978a-9887-11e7-8613-dcc5a18d105a.png)

[2017-09-13 17:37] vasilegaivan opened #1487 "libxtst-dev, libx11-dev packages"
Hi. Can  anyone explain, why there is no libxtst-dev, libx11-dev packages in termux/Android ?

[2017-09-13 17:38] #1487 closed

[2017-09-13 17:42] Grimler91 commented on #1486
Same here. @ExarchD guess about poppler seems likely, I'll test rebuilding and see if it solves it

[2017-09-13 17:42] VRuzhentsov opened #1488 "libxtst-dev, libx11-dev packages"
Hi. Can  anyone explain, why there is no `libxtst-dev`, `libx11-dev` packages in termux/Android ?
I want to compile c++ file, which is using `#include <X11/Xutil.h>`

[2017-09-13 17:49] vishalbiswas commented on #1488
x11 or any kind of gui is not available in Termux. I previously compiled some of them for arm https://drive.google.com/folderview?id=0B8Q4yBRb9PSHLUQ4VHJkQkZvdDg

[2017-09-13 18:14] Grimler91 commented on #1486
@sdrausty if you downgrade poppler then it probably works.

texlive-bin doesn't even compile right now, maybe due to the new poppler version. Looks like it won't be as easy to fix it as I hoped.

[code]

[2017-09-13 18:15] T-vK commented on #1192
Can someone explain to me why `npm i` worked just fine for me with `nodejs`, but with `nodejs-current` it doesn't? Does nodejs-current come with a different version of npm? And does this different version do something with symlinks which the old npm did not do? Couldn't we just install an old version of npm then? I mean the version of npm shouldn't really matter, right? I mean they all point to th

[2017-09-13 18:27] christianrondeau commented on #1192
@T-vK nodejs 6.0 indeed comes with an older version of npm, and it's starting with version 5 that this "issue" began happening. In other words, the issue is just with npm version 5 and up, and it comes by default with nodejs 8+ (current). You can use yarn, but you'll have to manually fix shebangs...

[2017-09-13 18:31] T-vK commented on #1192
I don't really know what yarn is. I'd much rather just use an old version of npm. Any idea how I could install npm version <5, but keeping nodejs-current?

[2017-09-13 18:37] christianrondeau commented on #1192
Yarn is just another package manager: https://yarnpkg.com/en/ (it won't "just work" anyway, you'll have to fight a little bit with it!) - You can see my post here: https://github.com/termux/termux-packages/issues/853 for an idea.

As for installing an older version of npm, I guess you could do something like `npm install -g npm@1.4.3` but since npm doesn't work... :P In the meantime, I don't reall

[2017-09-13 18:39] sdrausty commented on #1486
@Grimler91 downgrading poppler solves this as you say.
[code]

[2017-09-13 19:36] moises-santillan commented on #1486
@sdrausty Sorry about my ignorance. Where can I get poppler previous version to downgrade it?

[2017-09-13 19:45] sdrausty commented on #1486
@moises-santillan I use https://sdrausty.github.io/au/ to update and backup my installation files, and fortunately there was an older package laying around in my phone. It's for aarch64, so it will not work on arm. Afaik old debs go to /dev/null unless you back them up yourself.

[2017-09-13 19:56] moises-santillan commented on #1486
Thanks a lot. Too bad I didn't take care of backing up my previous installations. I'll keep that in mind in the future. Thanks for the tip. Meanwhile, I'm afraid I'll have to wait till poppler is fixed.

Sent from Alto

On Wed, Sep 13, 2017 02:45 PM,S D Rausty &lt;notifications@github.com&gt; wrote:

@moises-santillan I use https://sdrausty.github.io/au/ to update and backup my installation files,

[2017-09-13 20:55] Grimler91 commented on #1486
Poppler has changed the file `object.cc` and `object.h` in such a way that `pdftosrc.cc` need to be patched.
Here's a link to the [poppler commit](https://cgit.freedesktop.org/poppler/poppler/commit/poppler/Object.cc?id=9773c1534668d84b8267c3e5c9d612076fa231a5) that introduced the changes.

Basically all we need to do is patch `pdftosrc.cc` to use the new API instead of the old one, shouldn't be t

[2017-09-13 23:38] moises-santillan commented on #1486
Thank you very much. I hope you succeed fixing the last poppler version. I have downloaded the former version from the link you provided, and texlive is smoothly running.

Get Outlook for Android

On Wed, Sep 13, 2017 at 3:55 PM -0500, "Henrik Grimler" <notifications@github.com> wrote:

Poppler has changed the file object.cc and object.h in such a way that pdftosrc.cc need to be patched.

Here's a

[2017-09-14 02:13] sdrausty commented on #1314
@Grimler91 Thank you ☺

[2017-09-14 03:48] bitnetwork opened #1490 "Htop not working in android oreo"
Htop appears to break in Android Oero, as the system denied permission to non rooted user the process stat file.

    Cannoy open /proc/stat: Permission denied

Nexus 6P, Android 8.0 Oreo, OPR6.170623.019

[2017-09-14 04:43] sdrausty commented on #1490
@bitnetwork There quite a discussion going on about your issue at Android O: Permission denied on /proc entries for htop and top #299 https://github.com/termux/termux-app/issues/299

[2017-09-14 04:47] #1490 closed

[2017-09-14 04:53] sdrausty commented on #1435
@stainslav https://wiki.termux.com/wiki/Development_Environments outlines many ways to build apps on device in Termux 💪🙂

[2017-09-14 11:09] termuxb opened #1491 "how can i fixed it"
cd WP-Grab-Info-master
$ ls
README.md   WP-Grab.pl
$ perl WP-Grab.pl
Can't locate LWP/UserAgent.pm in @INC (you may need to install the LWP::UserAgent module) (@INC contains: /data/data/com.termux/files/usr/lib/perl5/site_perl/5.26.0/arm-android /data/data/com.termux/files/usr/lib/perl5/site_perl/5.26.0 /data/data/com.termux/files/usr/lib/perl5/5.26.0/arm-android /data/data/com.termux/files/usr/li

[2017-09-14 11:20] Neo-Oli commented on #1491
You need to install the missing modules
https://wiki.termux.com/wiki/Perl#Package_Management

[2017-09-14 12:53] #1491 closed

[2017-09-14 13:29] segfaultmylove commented on #715
Ok guys, after a lot of **PAIN** I finally find why some of us got a segmentation fault when starting msfconsole.
I try both automatic install (`metasploit.sh` and `metasploit_test.sh`) and also the manual one describe on the wiki. I also try the @timwr method describe here, but it always end up with a f#cking segfault when starting msf. (each try with a fresh install of Termux)

But this morning,

[2017-09-14 13:36] Auxilus commented on #715
Nice work @segfaultmylove ! I'll see if I can isolate that directory from loadpath.btw please make sure to post what was causing the segfault (  which rb script from gather dir ) if you find it.

[2017-09-14 13:51] segfaultmylove commented on #715
I found it ! It's this one: `modules/auxiliary/gather/http_pdf_authors.rb`
If remove, msfconsole works like a charm.
Apparently, it uses `nokogiri` to work. May be it's the cause..?

[2017-09-14 13:53] Auxilus commented on #715
Nokogiri dependency is removable if it's causing the segfault, cz I've used metasploit-framework  without nokogiri

[2017-09-14 13:54] Auxilus commented on #715
Ill put code to delete ` modules/auxiliary/gather/http_pdf_authors.rb` in test script.

[2017-09-14 13:57] Auxilus commented on #715
@segfaultmylove can you test https://raw.githubusercontent.com/Auxilus/Auxilus.github.io/master/metasploit.sh and see if it's still giving  segfault

[2017-09-14 14:10] mattacular commented on #1192
I was having a similar issue because I had already installed the regular `nodejs` package before installing `nodejs-current`. Uninstalling both and then reinstalling `nodejs-current` fixed.

[2017-09-14 14:21] segfaultmylove commented on #715
@Auxilus It works ! No segfault anymore!

[2017-09-14 14:24] Auxilus commented on #715
Nice!

[2017-09-14 14:24] Auxilus commented on #715
Ty for testing..

[2017-09-14 14:43] BrainDamage opened #1504 "Neovim package lacks python (python3) support"
Neovim package lacks python (python3) support, try to launch a plugin which requires it and you'll get
'[deoplete] deoplete requires Neovim with Python3 support("+python3").'
unlike vim there seems to be no packages to provide the python plugins for neovim

[2017-09-14 15:06] segfaultmylove commented on #715
@Auxilus My pleasure!
@Deathlive @ChristianCarvs you should try the new version of the installation script to see if it solve your segfault too.

[2017-09-14 15:12] segfaultmylove commented on #715
I got a non-fatal error when starting msfconsole:
`WARNING: linker: /data/data/com.termux/files/usr/lib/ruby/gems/2.4.0/gems/pg-0.20.0/lib/pg_ext.so: unused DT entry: type 0xf arg 0x16ba`

I fix it using the termux-elf-cleaner:
[code]

[2017-09-14 15:22] Neo-Oli commented on #1504
It works a bit differently with Neovim. To enable python support you need to install the `neovim` package from pip. (Note: You need both the pip and apt package.)

`pip install neovim`

Note about deoplete: You should install the package before installing deoplete, as the installation already requires it. There is a [note ](https://github.com/Shougo/deoplete.nvim#note-python3-must-be-enabled-befor

[2017-09-14 18:25] fornwall commented on #1486
Can you check if pdflatex works with the latest version of poppler, version 0.59.0.1?

The package version is 0.59.0.1 to get a higher version number, but the actual poppler version is 0.57.0 - a temporary workaround until we can update to a later poppler version.

[2017-09-14 18:31] ExarchD commented on #1486
Everything works ok for me. I tested xelatex and pdflatex on two different projects

[2017-09-14 18:32] moises-santillan commented on #1486
It works ok for me too. Thank you!

[2017-09-14 19:41] T-vK commented on #1192
My workaround for now: Instead of `npm i`, do this:
`packages install nodejs -y && npm i && packages install nodejs-current -y`
It will obviously take quite a  bit longer than a normal `npm i`, but hey, at least you don't get any errors and don't have deal with a different package manager.

[2017-09-14 19:53] #1486 closed

[2017-09-14 19:54] #1504 closed

[2017-09-14 19:59] #1342 closed

[2017-09-14 20:07] sdrausty commented on #1486
@fornwall thank you for patching this so quickly.

[2017-09-14 20:52] fornwall commented on #1438
Thanks - this part has now been fixed. I've updated the readline build (version `7.0.3-1`) to now install the pkg-config file!

[2017-09-14 20:56] #1435 closed

[2017-09-14 21:26] sdrausty commented on #1342
Great work! Thank you!
[code]
![screenshot_20170914-172455](https://user-images.githubusercontent.com/27742457/30456485-cb4f9998-9971-11e7-9104-dde7e62220a0.png)

[2017-09-14 21:34] #1488 closed

[2017-09-14 22:45] fornwall commented on #1398
@sdrausty All old packages containing a `control.tar.gz` have now had their revisions bumped and rebuilt - only `control.tar.xz` should now be used!

So termux-apt-repo should work for every current and future deb file - let me know if there are any problems!

[2017-09-14 22:45] #1398 closed

[2017-09-14 23:26] sdrausty commented on #1398
All packages in the arm branch passed with flying colors. Thank you @fornwall

[2017-09-15 02:09] lord2800 commented on #696
I also want this. 🙏

[2017-09-15 04:29] Deathlive commented on #715
@segfaultmylove Well done)
Thanks. Everything works excellent.

[2017-09-15 15:59] sdrausty commented on #1252
Garbage is gone! Thank you! So this issue can be closed afaic☺

[2017-09-15 16:18] sdrausty commented on #1491
You can try `cpan LWP::UserAgent` but that gives:
[code]
[code]
Build log at https://sdrausty.github.io/logs/150549186216997build.log

[2017-09-15 17:03] Deathlive commented on #715
Remains The last problem, how to automatically connect the database at start msf ?

[2017-09-15 18:08] sdrausty opened #1519 "cpanm Net::HTTP failed!"
[code]
Build log at https://sdrausty.github.io/logs/150549755926966build.log
[code]
Build log at https://sdrausty.github.io/logs/150549925630175build.log

These are prerequisite modules for other Perl modules. So they are probably very important for successful Perl builds like https://github.com/termux/termux-packages/issues/981 Building biber in Termux perl Dependency Install ERROR.

Android 6.0.

[2017-09-15 19:41] ClosetMonkey commented on #1409
I want to compile some libs and other binaries on my device using termux terminal as well as other tools provided by apt within the termux environment. However, I don't want the resuting libs/binaries to live within /data/data/com.termux. For example, for zeromq on android you need libzmq. To use libzmq within an independent android app via jni I wouldn't want libzmq to be located at '/data/data/c

[2017-09-15 22:31] sdrausty commented on #1519
From `$ cpan Net::HTTP`:

[code]
From `$ cpan IO::Socket::INET6`:
[code]
It bubbles down to successfully installing IO::Socket::INET6 on device. This should resolve numerous Perl troubles.

[2017-09-15 23:38] sdrausty commented on #981
$ cd biber/
$ perl Build installdeps
https://sdrausty.github.io/logs/50549755926966buildbiber.log

[2017-09-16 00:00] sdrausty commented on #1456
@Auxilus you have a very interesting proposal https://github.com/termux/termux-packages/pull/1514 Have you read the lastest at https://wiki.termux.com/wiki/Texlive#Package_Management about finding and selecting texlive packages? Do we want to spend the time and resources installing everything only to reinstall again and again?

[2017-09-16 01:12] sdrausty commented on #1398
Arm packages are published at https://sdrausty.github.io/repoArm/ Hopefully this will grow into a backup *.deb for device resource. It is being run in Termux from a smartphone btw.

Please provide your input regarding this binary-arm repository for Termux. Did it work for you? Were you able to use it?

The intended purpose of this Termux repository is for archiving and retrieval of Termux *.deb fi

[2017-09-16 04:57] Deathlive opened #1520 "Ruby Error - Segmentation Fault on 32-bit arm"
After the last update, an error occurred → segmentation faul
https://prnt.sc/glrlec

[2017-09-16 05:03] Auxilus commented on #715
@Deathlive I'll work on that as soon as I get a little free..

[2017-09-16 09:43] stainslav commented on #1519
Java 9 no root termux?

[2017-09-16 09:44] stainslav opened #1521 "Java"
How to install Java 9 or 8 in termux aarch64 no root?
@fronwall

[2017-09-16 10:52] xeffyr commented on #715
@Deathlive, you need to create a configuration file (metasploit-framework/config/database.yml).

Example:
[code]

[2017-09-16 12:45] fornwall commented on #1521
See https://github.com/termux/termux-packages/issues/45

[2017-09-16 12:45] #1521 closed

[2017-09-16 12:51] fornwall commented on #1520
Looks to be specific to 32-bit arm. I'm make a build with debug symbols and will investigate.

[2017-09-16 13:49] fornwall commented on #1520
- Building with `-Oz` or `-O2`: Segmentation fault.
- Building with `-O0`: Working.

[2017-09-16 15:18] TheDiamondYT1 commented on #1192
idk why people dont use apt. it's quicker to type

[2017-09-16 15:31] sdrausty commented on #202
From http://hof.povray.org POV-Ray Hall of Fame
![4b](https://user-images.githubusercontent.com/27742457/30513514-90237db4-9ad2-11e7-9a59-fd7c97c1c522.jpg)

[2017-09-16 16:02] TheDiamondYT1 commented on #45
I hope somebody can try and compile Java 8, since Java 9 support doesn't work very well with lombok and other things.

By downloading the pre-built package in #1298, you can run Java 8 in Termux fairly easily. I tried to recreate this by downloading the official tarball, and failed.

I edited the script and used the gnulib provided by #1298, but no luck. They must have edited the source.
[code]

[2017-09-16 16:16] sdrausty commented on #1398
All packages in all branch pass with `termux-apt-repo` now. Thank you @fornwall

[2017-09-16 17:08] Auxilus commented on #715
@Deathlive I've added code for database in metasploit-framework, see if it's working
`cd $HOME;curl -L https://Auxilus.github.io/metasploit.sh | bash`

[2017-09-16 20:48] francogrex commented on #948
I also vote for SBCL on termux!

[2017-09-16 22:04] danielmmf commented on #908
To ai tbm

[2017-09-16 22:48] sdrausty commented on #202
@buribu Really! It's already happened, just not in Termux 💪🙂 Sweet yet. Afaik smartphones consume far less power than their bigger cousins, e.g. desktops, laptops, etc... And when you leave a smartphone or tablet plugged into a powered physical port, the batteries never ever die...

[2017-09-16 22:49] maddalakum commented on #908
I did'nt get it what is ai tbm ??

[2017-09-16 23:26] fornwall commented on #1520
Thanks for the report!

This problem, which affected 32-bit arm devices, is now fixed in the latest version `2.4.2-1` of the ruby package!

[2017-09-17 01:42] stephengroat commented on #313
the first thing that would have to be solved is it dependency on `wxwidgets`

[2017-09-17 03:27] sdrausty commented on #1519
@stainslav standard by the book, out of box, install Termux 💪 That is it.

Hmmm...
[code]
Did anyone mention anything about java on Android on device?
https://github.com/termux/termux-packages/issues?utf8=✓&q=java

[2017-09-17 05:47] Deathlive commented on #1520
@fornwall
Sorry, I updated but the problem it did not disappear.
Ruby does not open and gem = segmentation faul.
![screens](https://user-images.githubusercontent.com/29791715/30518357-da570062-9b8c-11e7-991c-c895b2cb295c.png)

[2017-09-17 08:05] Deathlive commented on #715
@Auxilus
I'm sorry, at me a problem with Termux, the I won't be able to learn whether your code works.
But it seems like it should work.
if we did not create a password for msf, then we should output `password: msf` in database.yml?

[2017-09-17 08:13] Auxilus commented on #715
@Deathlive I've tried the script and looks like it works..

[2017-09-17 09:39] 0v3rfl00w commented on #715
@Auxilus
using manuelle installation from the wiki . got a problem with bundler gem installation .
_______________________
$ gem install bundler
  Segmentation fault
_______________________
Need help . thanks

[2017-09-17 09:49] fornwall commented on #1520
@Deathlive Hm, can you run `apt show ruby` and verify that it says `Version: 2.4.2-1` in the output of that command?

[2017-09-17 09:50] Auxilus commented on #1520
@fornwall is https://github.com/termux/termux-packages/issues/715#issuecomment-330032364 analogous to this issue?

[2017-09-17 09:54] Auxilus commented on #715
@0v3rfl00w can you try
[code]

And see if it still gives the error?

[2017-09-17 09:56] fornwall commented on #1520
@Auxilus Probably, if it's 32-bit arm and both ruby and irb segfaults directly. For me `2.4.2-1` fixed that problem.

[2017-09-17 10:01] 0v3rfl00w commented on #715
the issue persisted . everything was updated before running "apt update && apt upgrade"

[2017-09-17 10:03] Auxilus commented on #715
@0v3rfl00w can you try the automatic installation see, if it gives error

[2017-09-17 10:24] rpil2 commented on #1520
I see the same - ruby 2.4.2-1 now works again. Gem segfaults as above

[2017-09-17 10:28] 0v3rfl00w commented on #715
@Auxilus
Same problem with automatic installation :
______________________________________________________________________________________________
./metasploit.sh: line 15: 23679 Segmentation fault      gem install bundler
./metasploit.sh: line 18: 23682 Segmentation fault      gem install nokogiri -- --use-system-libraries
./metasploit.sh: line 21: 23695 Segmentation fault      gem unpack grpc -v

[2017-09-17 10:31] fornwall commented on #1520
@rpil2 Ah thanks - so version ´2.4.2-1` fixed the `ruby` and `irb` commands, but `gem` still segfaults.

[2017-09-17 10:32] Auxilus commented on #1520
@fornwall problem still persists https://github.com/termux/termux-packages/issues/715

[2017-09-17 11:10] Deathlive commented on #1520
Yes, probably a problem in gem.
![1](https://user-images.githubusercontent.com/29791715/30520217-53fc1060-9bba-11e7-8339-3484704b1f1e.png)

[2017-09-17 15:52] benjaminoakes commented on #1520
I'm having this same problem.  Is there a reasonable way to downgrade to Ruby 2.3 in the meantime?

[2017-09-17 18:42] sdrausty commented on #715
[code]
Android 6.0.1 aarch64

[2017-09-17 19:50] Neo-Oli opened #1529 "ssh hangs forever when a command is specified"
This concerns the SSH Server of Termux. The problem occurs both the ssh client of termux and debian
If I run `ssh localhost -p 8022 ls` It just hangs forever instead of running `ls`
Running `ssh localhost -p 8022 -t tmux` gives me a normal login shell instead of launching `tmux`

This has only started happening today, as I previously used commands like many times a day.

[2017-09-17 20:00] benjaminoakes commented on #1520
In case it helps, this seems to happen on Rubygems 2.5.2 and 2.6.12 as well

[2017-09-17 20:08] stephengroat opened #1530 "pwd.h incompatible type error"
seems to have happened after 8ebeeaa3d44c9da01694984a42c4d27215383969

On compilation of `timewarrior`

[code]

[2017-09-17 20:37] fornwall commented on #1530
Thanks - fixed by b461954b5cf136480ffed25efca1a6f8e2a39cf1

[2017-09-17 20:37] #1530 closed

[2017-09-17 20:44] #1529 closed

[2017-09-17 20:46] fornwall commented on #1529
Thanks! Can you updated and verify that `termux-tools` at version `0.46` fixes the problem?

[2017-09-17 21:19] fornwall commented on #1520
Update yet again with `pkg up` - this should install version `2.4.2-2` on 32-bit arm which hopefully fixes the issue.

Reports if the new version is working or not are very welcome!

[2017-09-17 21:29] benjaminoakes commented on #1520
@fornwall Thanks for the quick update!  I updated and it no longer segfaults.

[2017-09-17 21:30] io7m commented on #1529
I just ran into this problem today, and `0.46` does fix it for me here.

[2017-09-17 22:00] sdrausty commented on #1520
Ruby gem is beautiful on aarch64 Android OS at present. However, when we glance at Gem::Ext::BuildError: ERROR: Failed to build gem native extension. #969 and sift through https://github.com/termux/termux-packages/issues?utf8=✓&q=ruby%20gem there might be a common denominator which appears to be system access to library and header files. Can https://github.com/termux/termux-exec assist in this rol

[2017-09-17 22:00] #1520 closed

[2017-09-18 07:06] Neo-Oli commented on #1529
Yes the update does fix this for me as well.  Thanks

[2017-09-18 07:14] Neo-Oli opened #1534 "Regenerate the bootstrap*.zips"
Hi
Could you please regenerate the bootstrap*.zips. Termux-exec broke https://github.com/Neo-Oli/chrooted-termux/, so I need to switch to using the login script instead of invoking the shells directly, which I can't do if the resulting termux-fs still contains the old login script.

By the way. Termux-exec is likely to break all proot environments, because it gets passed along to the proot environ

[2017-09-18 08:10] refacto opened #1535 "Enhancement: Web interface for searching packages"
I'd really like to see a web interface for searching packages available in Termux, so I can see in advance if I have to compile some software to get stuff working ;)

[2017-09-18 08:25] 0v3rfl00w commented on #715
@sdrausty
My device is rooted android 7.1.2  32 bit arm
I will take a look into this #1520
Thanks

[2017-09-18 08:50] T-vK commented on #249
@vishalbiswas Is there anything else I can do?

[2017-09-18 09:09] 0v3rfl00w commented on #715
#1520
The ruby problem on arm 32 bit is fixed by using "pkg up" and update ruby to version 2.4.2-2

[2017-09-18 09:13] shfrs opened #1536 "Package request: tty-solitaire"
Ncurses based solitaire game,
https://github.com/mpereira/tty-solitaire/blob/master/README.md

[2017-09-18 10:05] fornwall commented on #1534
Regeneration done!

About `LD_PRELOAD` - perhaps we can modify `proot` to always clear `LD_PRELOAD` (or special case `libtermux-exec.so`)?

In the long run, perhaps we can replace that by moving the `execve()` wrapper to a shared library that everything links to (we can patch clang so that everything that gets built on device also links against that library)?

[2017-09-18 10:05] #1534 closed

[2017-09-18 10:59] Neo-Oli commented on #1534
I'm not sure this is necessary. It's just [one short line](https://github.com/Neo-Oli/termux-ubuntu/blob/master/ubuntu.sh#L34) that needs to be added in the various start scripts. I've done it in my two (chrooted-termux and termux-ubuntu) and I am only aware of one more (https://github.com/nmilosev/termux-fedora by @nmilosev). There might be other uses for LD_PRELOAD, so clearing it might be bad.

[2017-09-18 18:34] xeffyr opened #1538 "OpenSSH lacks manpages"
OpenSSH package has manpage only for 'ssh-copy-id'.

[code]

[2017-09-18 19:30] Neo-Oli commented on #1538
Oh yeah, weird. They seem to have vanished after the 7.5p1-6 version. 7.5p1-5 still had them.

[2017-09-18 21:55] sdrausty commented on #1468
@suryapoo that is good. Can u post your steps to successfully closing this issue please.

[2017-09-19 01:38] pressure679 opened #1540 "Emacs packages not found"
Hi, great app, Linux for android.

the issue is with emacs, the .emacs file (a.k.a init.el) has no issue on Linux or Windows (in their respective versions), but the melpa packages, which reside in ~/.emacs.d/elpa (/data/data/com.termux/files/home/...) are not found, the package should be loaded with the given text in the .emacs file:

(add-to-list 'load-path "~/.emacs.d/elpa/<package>")
(require '

[2017-09-19 01:46] pressure679 opened #1541 "irssi does not load config"
even with the --config argument to irssi the config is not loaded.

[2017-09-19 01:48] pressure679 opened #1542 "Byobu does not load upon termux reset"
Byobu does not load, some thing about some python packages not loaded from the byobu installation.
Also, termux returns a "declare X <var>=<path>" which seems like environment variable exports from the .bashrc file.

[2017-09-19 03:07] pressure679 commented on #1540
It was some missing programs for the packages, and for some reason emacs loaded the packages even though the .emacs file did not specify it, possibly due to an old byte-compiled version of it.

[2017-09-19 03:07] #1540 closed

[2017-09-19 05:40] naikymen commented on #276
+1 it would be so awesome

[2017-09-19 08:58] suryapoo commented on #1468
@sdrausty sûre..Man..it's

pkg install ruby-dev
pkg install make

gem install thin  -- --use-system-libraries

[2017-09-19 09:43] akehir commented on #1001
The file should be generated when you first try 'npm install node-sass'. It's located in your application user's home directory (cd ~/). The '~' will switch you to your app's home directory (in this case, the termux app - the full path would be something like /data/data/com.termux/home/).

Then, in your home directory, the '.node-gyp' directory would be a hidden directory (see the '.' before the n

[2017-09-19 12:39] RSCipher001 commented on #1001
Thanks, I switched to ruby sass compiler temporarily, now I can switch back to node.

[2017-09-19 14:14] bestvow commented on #1192
keep watching this problem ! Hope fixed quick

[2017-09-19 23:08] fornwall opened #1546 "Accept user-trusted ca-certificates"
_From @aetherfaerber on August 29, 2017 9:10_

Hi,

As the title already says: termux currently seems to ignore certificates imported via android system settings or e.g. cadroid.

It would be nice if these could be used or other means were available inside termux to keep a repository of trusted certificates. Otherwise scripts can't connect to services on a server with a self-signed certificate usi

[2017-09-19 23:15] fornwall commented on #1542
Hi! Can you give more exact information by copying the byobu error message?

Abou the `.bashrc` file - that file is not provided by Termux, so you need to look over what outputs that in your file.

[2017-09-19 23:19] #1468 closed

[2017-09-19 23:50] fornwall commented on #1538
Thanks, fixed in version `7.5p1-8` of the package.

I'm don't know why the package was built without man pages. I suspected that it would happen if overwriting a previous build - if the build system leaved the timestamps of the already installed man pages without touching them, they wouldn't be part of the package. But that doesn't seem to be the case.

Anyway, I've added a test in `termux_step_po

[2017-09-19 23:50] #1538 closed

[2017-09-19 23:51] fornwall commented on #1541
Could you give a short description of steps how to verify the problem (for one who have never used irssi myself)?

[2017-09-20 00:04] pressure679 commented on #1541
Yeah.
My config has some bloat to it, but it is to use it in a terminal, the following extensions are:
color nick (nickcolor.pl from https://irssi.org/download/)
A config file to add ignoring of JOINS, PARTS and QUITS messages.
- A autojoin list of some channels.
- A logging of the channels.
I start the irssi program like so:
irssi -c irc.freenode.org -w 12345qwer -n pressure679

I tried adding th

[2017-09-20 00:12] pressure679 commented on #1542
The .bashrc is pretty standard, except for some custom aliases, but those are not outputted, only the 'export <var>=<path>'.
Beyond that there is a custom color palettes which are supported by the ubuntu terminal, but they are not supported in termux somehow - I tried installing termux:styling, but the colors are still not supported.

/data/data/com.termux/files/usr/bin/byobu: 49: /data/data/com.t

[2017-09-20 01:28] sdrausty commented on #1426
[code]
![screenshot_20170919-212311](https://user-images.githubusercontent.com/27742457/30622715-5f45c330-9d81-11e7-98f7-5fe674e5e013.png)

[2017-09-20 02:54] anonms1991 commented on #989
Guys  pls help me to hack Wi-Fi by termux without root

[2017-09-20 06:46] Neo-Oli opened #1548 "New folder name algorithm breaks for certain tar files"
I'm trying to build tsocks, but I am getting `rm: refusing to remove '.' or '..' directory: skipping '.'` from the builder. Investigating yields this line, which breaks for a small subset of tar files:
https://github.com/termux/termux-packages/blob/87566986d257f9c087e254fae3e7fbd8e87e1a31/build-package.sh#L478

[code]
I wonder if this last `sed` is even necessary? How would one create a tar file w

[2017-09-20 12:25] roccomuso opened #1551 "nano: segmentation fault"
I've installed `nano` but when I run it I get a "Segmentation fault" error on the terminal.

[2017-09-20 12:54] its-pointless commented on #1551
Which arch are you using?
`uname -m` command if you don't know.

[2017-09-20 14:19] roccomuso commented on #1551
`uname -m` returns: `armv71`.

I've tried `nano` on a different smartphone. Same error.

[2017-09-20 14:28] Auxilus commented on #1551
Works fine on aarch64

[2017-09-20 18:42] fornwall commented on #1542
Can you try to install python by running `pkg install python` - does that fix the problem?

Perhaps `byobu` should depend on `python` so that is installed as a dependency (I've never used byobu myself)?

[2017-09-20 18:43] fornwall commented on #1551
@roccomuso Thanks for reporting!

1. Does running `apt show nano` indicate the latest version with `Version: 2.8.7`?
2. Which Android version (and possibly custom ROM) are you running?

[2017-09-20 19:11] fornwall commented on #1548
Hm, it seems to exist:

    $ tar tf ./binutils/cache/binutils-2.29.tar.gz | head -1
    binutils-2.29/config.guess

and

    $ tar tf ./attr/cache/attr-2.4.47.src.tar.gz | head -1
    attr-2.4.47/Makefile

What do you think about

    folder=`tar tf "$file" | head -1 | sed 's/^.\///' | sed -e 's/\/.*//'`

that is, inserting a `sed 's/^.\///'` step to clear away an initial `./` if it exists, like

[2017-09-20 19:18] Neo-Oli commented on #1548
That would fix this problem, I think. We'll just have to keep our eye out for any more weird tar files.

[2017-09-20 19:29] fornwall commented on #1548
Thanks, pushed!

Right, if we encounter anything too strange we could always make it possible to manually specify the root folder name again.

[2017-09-20 19:30] #1548 closed

[2017-09-20 19:54] #1422 closed

[2017-09-20 20:07] fornwall commented on #1422
Thanks to @stephengroat you can now install the package with `pkg install heyu`.

[2017-09-20 20:51] roccomuso commented on #1551
1. nano version `2.8.7`.
2. Android `7.0` - ROM `Emui v5.0`.

[2017-09-20 21:53] dexofan23 opened #1552 "ZSH install fails"
chsh -s `which zsh`
/data/data/com.termux/files/usr/bin//data/data/com.termux/files/usr/bin/zsh is not an executable file!
Android 6.0.1

[2017-09-20 22:11] imad61 commented on #715
download this using a browser https://goo.gl/Aok9sr

then go to termux

cd /sdcard
cd Download
tar xzvf termux-files-aarch64.tar.gz -c /data/data/com.termux/

enjoy!

then that's it simply run msfconsole or msfvenom to generate a rat

also moaxwell add metasploit to the repository so people can enjoy it

[2017-09-20 22:12] imad61 commented on #715
sorry -C not -c

[2017-09-21 00:45] pressure679 commented on #1541
Aww, it was me, I simply wrote the wrong server domain name. - .org instead of .net

[2017-09-21 00:52] pressure679 commented on #1542
I - um - Python is not included? - Yeah I will see, althouh it suddenly starts after emacs or for some other reason after some time.
Maybe I will write some shell script functions and aliases for tmux in the future though.
It sure does 'just work', I just have to get familiar with it and the programs for my usual terminal environment. - If not emacs as a terminal emulator.

[2017-09-21 00:56] yashamon opened #1553 "pip install neovim throws error"
pip install neovim throws the following error. This is on ChromeOs

llecting neovim
  Using cached neovim-0.1.13.tar.gz
Requirement already satisfied: msgpack-python>=0.4.0 in /data/data/com.termux/files/usr/lib/python3.6/site-packages (from neovim)
Collecting greenlet (from neovim)
  Using cached greenlet-0.4.12.tar.gz
Installing collected packages: greenlet, neovim
  Running setup.py install for

[2017-09-21 01:09] yashamon commented on #1552
I have the same problem. Although manually launching zsh works. On a side note why does bash even exist anymore?

[2017-09-21 04:55] Grimler91 commented on #1553
Have you installed clang?
`pkg install clang`

[2017-09-21 05:49] its-pointless commented on #1552
no need for which command
just use chsh
then zsh

[2017-09-21 06:21] Deathlive commented on #715
nokogiri update in 1.8.1 version.
nokogiri sets the 1.8.1, but metasploit requires 1.8.0.
`sed 's/nokogiri (1.8.0)/nokogiri (1.8.1)/g' -i $HOME/metasploit-framework/Gemfile.lock`
Wait maybe they will update version

[2017-09-21 11:51] dexofan23 commented on #1552
@its-pointless didn't work. ZSH work only if i type zsh in shell by my hands.

[2017-09-21 12:37] wrsg commented on #320
https://docs.docker.com/engine/installation/linux/docker-ce/debian/
https://docs.docker.com/engine/installation/linux/docker-ce/ubuntu/

Debian and Ubuntu both have armhf Docker packages. And I don't know if there's anything to be gained from looking at the Moby project but it looks like this is where Docker system integration development is taking place now.

https://github.com/moby/moby
https://

[2017-09-21 12:42] its-pointless commented on #1552
type chsh
a prompt comes up
type zsh
default shell is now zsh but you are still running bash
or you can simply ln -s $(which zsh) ~/.termux/shell

[2017-09-21 13:03] robsmith11 opened #1557 "debootstrap requires perl"
It appears that perl should be added as a dependency for debootstrap:

[code]

[2017-09-21 14:29] yashamon commented on #1553
Yes clang is installed. Calling clang separately seems to work.

On Wed, Sep 20, 2017 at 11:55 PM, Henrik Grimler <notifications@github.com>
wrote:

[2017-09-21 15:24] bestvow commented on #1192
## How about to use home/bin directory resolve this problem？
1. `pkg install wget`
1. `cd ~ && mkdir bin && cd bin`
1. `wget http://nodejs.org/dist/latest-v6.x/node-v6.11.3.tar.gz`
1. `tar -xf node-v6.11.3.tar.gz`
1. ln -s ./node-v6.11.3/bin/node node`
1. `ln -s ./node-v6.11.3/bin/npm npm`
1. `npm i -g npm`
----------------------------------
@step 1 maybe you can install -y wget to void confirm
@s

[2017-09-21 17:14] Auxilus commented on #1536
@shfrs https://github.com/termux/termux-packages/pull/1559

[2017-09-21 17:34] boomstick8x commented on #276
+1

[2017-09-21 20:31] fornwall commented on #1541
Ok, thanks for the feedback!

[2017-09-21 20:31] #1541 closed

[2017-09-21 22:49] fornwall commented on #518
A `tsocks` package is now available (for 64-bit arches only - 32-bit arches are waiting for a build issue to get fixed).

[2017-09-21 22:49] #518 closed

[2017-09-21 23:44] dexofan23 commented on #1552
chsh didn't work.

[2017-09-22 09:52] Grimler91 commented on #1552
@dexofan23 could you please provide more details as to why it doesn't work, i.e. what did you write and what error message did you get?

[2017-09-22 09:57] dexofan23 commented on #1552
@Grimler91 i didn't had any output. Shell does not change with chsh command.

[2017-09-22 10:48] Grimler91 commented on #1552
So did the prompt appear?
How did you verify that the shell changed/didn't change?

[2017-09-22 12:50] dexofan23 commented on #1552
@Grimler91 Yep, promt appears. To verify I use oh-my-zsh with default theme to see that shell changed. When I type ZSH by my hands shell changes to ZSH.

[2017-09-22 12:55] Neo-Oli commented on #1552
@dexofan23 chsh doesn't switch your current shell, only your default shell. You have to exit your current shell and start a new one.

On a side note. You can use chsh as a oneliner:
`chsh -s zsh`

[2017-09-22 14:00] remo7777 commented on #619
:cold_sweat: not working mlocate

[2017-09-22 14:00] remo7777 commented on #619
:cold_sweat: not working mlocate

[2017-09-22 14:15] Deathlive commented on #877
@fornwall Is it possible to fix this problem by Android 5.1 Lolipop?

[2017-09-22 15:20] stainslav opened #1561 "How to install fakeroot?"
Please help

[2017-09-22 15:34] remo7777 commented on #1454
mlocate is not working on nougat ..😢😢

[2017-09-22 15:51] stephengroat opened #1562 "Split Docker into separate repo"
As discussed with @fornwall, by creating the additional git repo `termux-build` and using `.gitmodules` to map it to the `scripts` dir, docker images could be built and deployed by travis-ci

[this site](http://gbayer.com/development/moving-files-from-one-git-repository-to-another-preserving-history/) shows an example of how to move a directory to another repo while maintaining history

[code]

[2017-09-22 16:43] sdrausty commented on #1562
Will this work on device?

[2017-09-22 16:50] stephengroat commented on #1562
@sdrausty as long as `git` has submodule support, which is pretty ubiquitous. it's not a `contrib` project or anything like that, it's pretty much considered core functionality

as an example, try cloning `hashcat`, which i know has submodules, and check for the `deps/OpenCL-Headers/CL` directory and make sure it has files in it (specifically headers)

[code]

[2017-09-22 17:16] sdrausty commented on #1562
Done.
[code]
@stephengroat Thank you for your immediate reply. What steps should be taken next to build this on device in Termux?

[2017-09-22 17:23] stephengroat commented on #1562
don't worry, changes haven't occurred yet.

this change shouldn't change much of anything for `termux-packages`, just allow automated `termux-docker` builds

[2017-09-22 17:48] sdrausty commented on #1562
+stephengroat afaik docker isn't available on device in Termux.

[2017-09-22 17:51] stephengroat commented on #1562
@sdrausty on device builds currently aren't available because the android NDK (the basis of the termux build process) is currently a cross compiling framework and isn't built for android

[2017-09-22 18:07] sdrausty commented on #1562
+stephengroat 🌒 moon-buggy builds well on device; And I am interested in building on device for the specific system it's on, not cross compling for other device architectures. Kind of how https://sdrausty.github.io/buildAPKs builds APKs on device. Download source and build it on the device being used.

[2017-09-22 19:03] #1454 closed

[2017-09-22 19:08] fornwall commented on #1454
Thanks - this has been fixed in version `0.26-2` of the package which is now available as an update!

[2017-09-22 19:19] fornwall commented on #619
See https://github.com/termux/termux-packages/issues/1454 - version `0.26-2` of the mlocate package fixed running on Android 7.0 or later versions.

[2017-09-22 19:19] #1552 closed

[2017-09-22 19:34] stephengroat commented on #1562
@sdrausty sorry, i was confused. when you said

I thought you were referring to clone the `termux-packages` repo. this proposed change has no effect on the ability to run the script on device

[2017-09-22 19:51] #1557 closed

[2017-09-22 19:52] fornwall commented on #1557
Thanks - as of the current version `1.0.91-1` the debootstrap package depends on perl!

[2017-09-22 19:57] fornwall commented on #1561
See https://wiki.termux.com/wiki/Differences_from_Linux#Prefixed_System

[2017-09-22 19:57] #1561 closed

[2017-09-22 20:02] fornwall commented on #1553
@yashamon Does running `i686-linux-android-clang` directly work? It should come as part of the `clang` package.

Could you perhaps try updating all packages with `pkg up` and try again?

[2017-09-22 20:11] wangmu0579 commented on #715
still have problem using lazy script:
--with-zlib-include
        --without-zlib-include=${zlib-dir}/include
        --with-zlib-lib
        --without-zlib-lib=${zlib-dir}/lib
        --enable-cross-build
        --disable-cross-build
/data/data/com.termux/files/usr/lib/ruby/gems/2.4.0/gems/mini_portile2-2.3.0/lib/mini_portile2/mini_portile.rb:380:in `spawn': No such file or directory - ./configur

[2017-09-22 20:16] sdrausty commented on #1562
@stephangroat It is very tempting to 🔥 fire up my old computers, some of which are not that old. However, I made a decision last year to confine my computer activity to smartphones with Termux. This seems to be working better than expected at present.

Sorry about not stating my initial question clearer, that I meant building packages on device in Termux. Any suggestions, including links about com

[2017-09-22 20:19] sdrausty commented on #1562
https://wiki.termux.com/index.php?title=Installing_from_Source_on_Device

https://wiki.termux.com/wiki/Installation

[2017-09-22 23:49] yashamon commented on #1553
ran pkg up, running i686-linux-android-clang directly works it just gives
error that there are no input files.
I think clang is working, the error in the compilation is this
one: ./greenlet.h:8:10: fatal error: 'Python.h' file not found

On Fri, Sep 22, 2017 at 3:02 PM, Fredrik Fornwall <notifications@github.com>
wrote:

[2017-09-22 23:50] fornwall commented on #1536
There is now a tty-solitaire package available - install with `pkg install tty-solitaire`!

[2017-09-22 23:50] #1536 closed

[2017-09-22 23:52] #1188 closed

[2017-09-23 00:16] wangmu0579 commented on #715
Problem solved  by unzip  file  imad61

[2017-09-23 00:25] fornwall commented on #1188
Thanks to @stephengroat there is now a hashdeep package (which contains the md5deep, sha256deep, tigerdeep, whirlpooldeep and sha1deep tools) available - install with `pkg install hashdeep`!

[2017-09-23 00:35] fornwall commented on #1553
@yashamon Great! Run `pkg install python-dev` to install Python.h - then it should work!

[2017-09-23 00:35] #1553 closed

[2017-09-23 00:44] yashamon commented on #1553
that worked. But is there a reason this dependency could not be auto
fetched?

On Fri, Sep 22, 2017 at 6:49 PM, Yasha Savelyev <yasha.savelyev@gmail.com>
wrote:

[2017-09-23 03:05] stainslav commented on #1561
So Fronwall which fakeroot I can install with that help

[2017-09-23 03:17] remo7777 commented on #1454
:grinning: Thank you its working now...

[2017-09-23 03:33] wdscxsj commented on #1454
A wonderful step forward, but not quite working with wildcards?

[code]

[2017-09-23 03:39] remo7777 commented on #1454
yes Segmentation fault
27446 segmentation fault  locate '*/usr/*gcc'

[2017-09-23 03:39] remo7777 commented on #1454
yes Segmentation fault
27446 segmentation fault  locate '*/usr/*gcc'

[2017-09-23 05:07] pavlaras opened #1564 "Package request: knockd"
Can we please add knockd in the packages ?
Thank you in advanced

[2017-09-23 06:54] Deathlive opened #1565 "Package missing libnetfilter-queue-dev"
Is there a replacement for libnetfilter-queue-dev ?
Needed for installation https://github.com/kti/python-netfilterqueue

[2017-09-23 06:56] Grimler91 commented on #1553
@yashamon pip doesn't know anything about apt and all packages available through it so it doesn't know where Python.h is. It's the same "problem" on many linux distros if you install through pip.

[2017-09-23 07:16] t123yh opened #1566 "mosh error"
[code]
Phone: Nexus 5X

[2017-09-23 08:20] fornwall commented on #1566
Can you try updating all packages by running `pkg up` and try again?

[2017-09-23 08:30] fornwall commented on #1454
@remo7777 @wdscxsj Thanks again!

Wildcard support has been fixed in version `0.26-3` of the mlocate package, to which you can update with `pkg up`.

[2017-09-23 08:30] t123yh commented on #1566
OK, solved, thanks. But I doubt there might be some package dependency misconfiguration.

[2017-09-23 08:30] #1566 closed

[2017-09-23 08:36] wdscxsj commented on #1454
Fix confirmed. Amazing work!

[2017-09-23 08:49] remo7777 commented on #1454
**THANK**  **YOU**
now its working fine....//

[2017-09-23 10:29] remo7777 opened #1569 "packages missing :: libmoose-perl"
perl uniscan.pl
Can't locate Moose.pm in @INC (you may need to install the Moose module) (@INC contains: ./Uniscan /data/data/com.termux/files/usr/lib/perl5/site_perl/5.26.0/aarch64-android /data/data/com.termux/files/usr/lib/perl5/site_perl/5.26.0 /data/data/com.termux/files/usr/lib/perl5/5.26.0/aarch64-android /data/data/com.termux/files/usr/lib/perl5/5.26.0 .) at Uniscan/Crawler.pm line 3.
BEGI

[2017-09-23 10:54] vladimiroltean commented on #1562
@stephengroat what is the benefit of this split?

[2017-09-23 13:35] remo7777 commented on #1569
OALDERS/libwww-perl-6.27.tar.gz                  one dependency not OK (Net::HTTP); additionally test harness failed                                     /data/data/com.termux/files/usr/bin/make test -- NOT OK                                             //hint// to see the cpan-testers results for installing this module, try:                               reports OALDERS/libwww-perl-6.27.tar.gz

**

[2017-09-23 13:43] sdrausty commented on #1536
After installing:
[code]
Android 7.1.1 arm

[2017-09-23 14:15] remo7777 commented on #1536
hmmm.. not working on  android 7.0 aarch64

[2017-09-23 14:21] Auxilus commented on #1536
Well.. Works on my device (6.0.2 aarch64)

[2017-09-23 14:23] remo7777 commented on #1536
ok i ll try on aarch 64 (andro .6.0 **)👍👍

[2017-09-23 14:28] remo7777 commented on #1536
😭😭😭😭 not working..

[2017-09-23 16:14] stephengroat commented on #1562
@vladimiroltean automatic docker builds and deployments

[2017-09-23 23:06] cgarz commented on #276
Oh how I would've loved sshfs yesterday when looking for a specific picture on my server. All file managers I've tried that support cifs dont seem to do thumbnails. So I had to download random images fully one by one till I got the right one.
Mounting the folder with sshfs and browsing with a gallery app as if it were local would have been no less than 100 times quicker. Please please look into su

[2017-09-24 05:26] biojet1 commented on #276
+1

[2017-09-24 10:10] Xarchuser opened #1570 "Package Request :Gstreamer"
I've installed the mopidy package through the pip command, however, it says that a Gstreamer C library is required to run perfectly , is there any possibility of Gstreamer works in the Termux or that's impossible?

The error :
`mopidy`
`ERROR: A GObject Python package was not found.`

`Mopidy requires GStreamer to work. GStreamer is a C library with a      number of dependencies itself, and cannot

[2017-09-24 10:21] Grimler91 commented on #1570
Hi, this has been asked before, see https://github.com/termux/termux-packages/issues/289

There hasn't been any response though

[2017-09-24 10:29] Xarchuser commented on #1570
Yeah I know but I think the developer forgot to include yet, so just to remind.

[2017-09-24 18:25] sdrausty commented on #1536
@Auxilus can you please send us a screenshot of tty-solitaire from your Android 6.0.2 aarch64 smartphone?

[2017-09-24 19:42] fornwall commented on #1570
Closing this in favour of #289. I'm not working on gstreamer myself, but there exists a start at `disabled-packages/gstreamer`, `disabled-packages/gst-plugins-base` and `disabled-packages/gst-plugins-bad`, which someone would need to pick up and updated, fix and test before enabling!

[2017-09-24 19:42] #1570 closed

[2017-09-24 19:54] fornwall commented on #1536
@sdrausty Note that the binary name is `ttysolitaire`, while the name of the project is `tty-solitaire`.

@remo7777 Could you clarify what "not working" means (what do you see when you run the problem)?

[2017-09-24 20:08] fornwall commented on #1569
Generelly we try to avoid creating Termux packages for things that can be installed with language package managers (pip/cpan/npm/...).

[2017-09-24 20:08] #1569 closed

[2017-09-24 21:23] NgHTWuLF opened #1571 "Unable to update Termux"
u0_a211@localhost ~ $ apt-get update && apt-get  --assume-yes upgrade
Ign:1 http://termux.net stable InRelease
Ign:2 http://termux.net stable Release
Ign:3 http://termux.net stable/main all Packages.diff/Index
Ign:4 http://termux.net stable/main arm Packages.diff/Index
Ign:5 http://termux.net stable/main all Packages
Ign:6 http://termux.net stable/main arm Packages
Ign:5 http://termux.net stable/m

[2017-09-24 21:26] #1571 closed

[2017-09-24 22:03] TheDiamondYT1 commented on #1080
@fornwall Can you update `nodejs-current` to v8.5.0? It includes some useful filesystem features.

[2017-09-24 22:32] sdrausty commented on #1536
@fornwall thanks for the clarification:
[code]
I still cannot tell the suites apart from each other though. Please see attached screenshot.

![screenshot_20170924-182831](https://user-images.githubusercontent.com/27742457/30787451-a5cc8f7c-a156-11e7-9a3c-fc8219835501.png)

[2017-09-25 00:32] sdrausty opened #1572 "Package Request mpg123"
This is a console based decoder/player for mono/stereo mpeg audio files, probably more familiar as MP3 or MP2 files. https://github.com/dreamerc/mpg123 & http://mpg123.org

[2017-09-25 01:09] remo7777 commented on #1569
Nop. I m just checking..

[2017-09-25 01:15] remo7777 commented on #1569
I want one help. Can we put our all termux data to another device...? If yes... How

[2017-09-25 01:40] remo7777 commented on #1536
Message like..
Please increase your terminal size to at least 57x
28 or press q to quit.

[2017-09-25 01:42] remo7777 commented on #1536
Oh... Working now..

[2017-09-25 01:42] its-pointless commented on #1536
Yeah zoom out pinch screen make text smaller it will load.

[2017-09-25 01:47] remo7777 commented on #1536
But how to play this game?..😜😜 with touch

[2017-09-25 01:56] remo7777 commented on #1536
Oh using spacebar..

[2017-09-25 02:04] its-pointless commented on #1572
Issue is the player needs an android compatible output. So it needs opensles or openal output.  Mpg123 doesn't have that.

[2017-09-25 02:21] remo7777 commented on #1536
![screenshot_20170925-073809](https://user-images.githubusercontent.com/28594846/30789907-43097b14-a1c6-11e7-82be-9ade2f8074d7.jpeg)

[2017-09-25 02:50] remo7777 commented on #1536
Rules
1. Set up your game.
2. Place the aces above the piles.
3. Keep stacking the cards until you cannot move anymore.
4. Each pile should be alternating in color and move in descending order.
5. Use the reserve deck if you run out of moves.
6. Place kings into empty slots.
![screenshot_20170925-081605](https://user-images.githubusercontent.com/28594846/30790529-0573ff32-a1ca-11e7-9439-3bbcc8ef92

[2017-09-25 04:25] Ordiel commented on #276
+1

[2017-09-25 05:02] sdrausty commented on #1572
@its-pointless Thanks for your reply. Do you think https://packages.debian.org/source/jessie/aumix is portable to Termux?

[2017-09-25 05:07] sdrausty commented on #1536
♠❤♦♣ the four card suites. Where are they in tty-solitaire?

[2017-09-25 05:09] remo7777 commented on #1536
@sdrausty: :grinning: :kissing_heart:

[2017-09-25 05:24] sdrausty commented on #1536
@remo7777 Thank you ☺

[2017-09-25 05:26] remo7777 commented on #1536
I found it from termux - help... Option
Thank you termux..

[2017-09-25 08:19] Neo-Oli opened #1573 "Compiling tsocks for 32 bit devices fails"
Compiling tsocks for aarch64 works well, but it doesn't compile for arm yet.
It gives this error:
[code]

Does anybody know how I could fix that problem?

(Copied from the pull request for greater visibility)

[2017-09-25 09:38] vishalbiswas commented on #1573
[code]

[2017-09-25 09:52] Neo-Oli commented on #1573
@vishalbiswas Thanks a ton. I've submitted a PR.

By the way, tsocks currently doesn't work with python. Did torsocks have that problem too? What did you need to fix?

[2017-09-25 11:09] #1573 closed

[2017-09-25 12:17] Deathlive commented on #980
How to install SEToolkit without Fedora ?

[2017-09-25 13:04] Mina20000 opened #1576 "need new pkg"
I need pkg driver for rtl8188cu wifi 802.11n I have the hardware I need the driver

[2017-09-25 13:25] fornwall commented on #1576
I'm sorry, but packaging kernel hardware drivers are outside the scope of Termux!

[2017-09-25 13:25] #1576 closed

[2017-09-25 13:49] vishalbiswas commented on #1576
You have to compile drivers yourself. Drivers need to be built against your exact kernel signature. Providing drivers for each kernel configuration that runs android is practically impossible.
And insmod'ing requires superuser access.

[2017-09-25 13:59] YtvwlD commented on #129
duplicity is already installable:

 * Install `gnupg`, `librsync-dev`, `python2` and `python2-dev` via `apt`.
 * Install `duplicity` via `pip2`.
 * Edit `~/usr/bin/duplicity` with your favourite text editor and set the shebang to the output of `which python2`.

(This is just a fancy "me too".)

[2017-09-25 14:58] Mina20000 commented on #1576
I don't understand
I have the Linux driver but I don't know how to install it this is the driver
https://github.com/CalielOfSeptem/rtl8188cus

[2017-09-25 15:07] Grimler91 commented on #1576
@Mina20000 Have you read the [readme.txt](https://github.com/CalielOfSeptem/rtl8188cus/blob/master/readme.txt)? There seem to be a document called [Quick_Start_Guide_for_Driver_Compilation_and_Installation.pdf](https://github.com/CalielOfSeptem/rtl8188cus/blob/master/document/Quick_Start_Guide_for_Driver_Compilation_and_Installation.pdf), I'm guessing that's a good start.

[2017-09-25 18:44] urielarg opened #1578 "Calling /system/bin/am does not work on Android 8? Affects termux-setup-storage and termux-reload-settings"
I rooted my pixel c device with android 8.0. Just in case it has anything to do. I also went to app permissions and gave storage permissions to termux, still the same error when running termux-setup-storage:

Exception occurred while executing:
java.lang.IllegalArgumentException: Calling application did not provide package name
        at com.android.server.am.ActivityManagerService.isInstantApp(A

[2017-09-25 22:25] sdrausty opened #1580 "$ man ping man: No entry for ping in the manual."
$ man ping
man: No entry for ping in the manual. 🎁🎄

[2017-09-26 01:30] its-pointless commented on #1572
no.
Audio is one of the hard bits of porting things to android. Unless it supports opensles or openal then its very likely not going to work. The only thing that could get stuff like this to work is if someone completed a pulseaudio android output. There was someone working on it but he has gone silent.

[2017-09-26 03:29] sdrausty commented on #1572
I will close this issue. Once we have a surplus of developers, it surely can be reopened.

[2017-09-26 03:39] sdrausty commented on #1578
@urielarg try `touch /sdcard/file` If you don't get any output, that means you have write access to /sdcard Also what is your architecture? You can use `termux-info` to find out.

[2017-09-26 04:11] dan-santana commented on #667
I'm not sure if it happens to be the same cause, but `unsetopt CASE_GLOB` on my `.zshrc` was responsible for not allowing the glob pattern (`/data/data/com.termux/files/home/zsh-syntax-highlighting/highlighters/*/`) to be expanded when sourcing `zsh-syntax-highlighting.zsh`.

Didn't check the source code, but I suppose the internal implementation on zsh does some kind of progressive checking on al

[2017-09-26 07:13] wangmu0579 commented on #146
Do you have a way to connect the Fedora lxde from remote desktop?

[2017-09-26 10:58] xeffyr commented on #1580
Termux uses a wrapper script which calls ping located in /system/bin, so it does not have manpages.

[2017-09-26 11:44] bfortz opened #1582 "mutt smtp issue"
Since I upgraded packages yesterday mutt cannot send emails using the embedded smtp anymore. I get a "No authenticators available" error. I suspect an SSL/TLS error or something with libsasl.
Maybe due to the fact that libsasl is now build with --disable-gss-api?
Debug not being enabled in mutt, it's hard to figure out what is wrong.

[2017-09-26 12:36] Grimler91 commented on #1582
I think you're right that the error is due to libsasl being built with `--disable-gssapi`.

I tried building with `--with-gssapi` instead but the build failed due to the configure script trying to run a android binary as part of a test. There might be some cross compiling flag to set, alternatively we'll need to patch the configure script a little bit.

[2017-09-26 13:10] fornwall commented on #1582
Hm, did it work before?

The libsasl package has never been built with `--with-gssapi`. It's true that `--with-gssapi` was added, but that was just to avoid accidental linkage - the distributed libsasl package never used it.

[2017-09-26 13:13] Grimler91 commented on #1582
Right, maybe it has to do with the mutt upgrade, 1.8.3 -> 1.9.0 then.

Something is different from before.

[2017-09-26 13:21] fornwall commented on #1578
It seems that calling [am, the activity manager command](https://developer.android.com/studio/command-line/adb.html#am) as the Termux user does not work at all in Android 8 - see https://github.com/termux/termux-api/issues/105.

This affects the `termux-reload-settings` and  termux-setup-storage`.

[2017-09-26 13:24] Grimler91 commented on #1582
`git checkout d3594e89a955fa3e3913eca0902aeca267391570 packages/mutt` (mutt 1.8.3) did not solve the problem.

[2017-09-26 13:37] fornwall commented on #1582
Hm, could it have to do with the latest libsasl package?

It was rebuilt (bumped revision, so updated from `2.1.26` to `2.1.26-1`) to get an updated .deb file (with control.tar.xz instead of control.tar.gz) - it wasn't intended to change how the package have been built, but it may have accidentally?

[2017-09-26 14:22] sdrausty commented on #1580
@xeffyr tnx Q write manpage A texinfo Q add manpage to pull request at?

[2017-09-26 14:46] bfortz commented on #1582
I have rebuild mutt with debugging enabled, the problem is clearly linked with libsasl:
[2017-09-26 16:43:31] SASL: No worthy mechs found
[2017-09-26 16:43:31] smtp_auth_sasl: (null) unavailable
[2017-09-26 16:43:31] No authenticators available
I will investigate further...

[2017-09-26 15:02] bfortz commented on #1582
Well, I don't know why --disable-gssapi was added. Building without it (but also without --with-gssapi) works perfectly and fixes the problem for me.

[2017-09-26 15:31] Grimler91 commented on #1582
Seems like a bug in the configure script for mutt. Great that it works anyways!

[2017-09-26 15:57] #1582 closed

[2017-09-26 15:58] fornwall commented on #1582
I think I've found the problem!

The libsasl package should contain the following libraries in `$PREFIX/lib/sasl2/`:

- libanonymous.so
- libcrammd5.so
- libdigestmd5.so
- libplain.so

The current libsasl package at version `2.1.26-1` did not contain libplain.so, which causes the `No authenticators available`.

A rebuild fixes this, which is why your new build worked @bfortz - it wasn't due to rem

[2017-09-26 15:59] fornwall commented on #1582
Nice work @bfortz and @Grimler91  in reporting and working on the issue!

[2017-09-26 18:38] bfortz commented on #1582
@fornwall thanks for fixing it so quickly, and for all the work. Termux is great! I wish I could contribute more in the future.

[2017-09-26 21:48] stephengroat commented on #1403
this *might* be solved, testing now

[2017-09-27 05:47] sdrausty opened #1590 "Permissions Question"
[code]
Any suggestions how such permissions arise are welcome; And the best way to deal with them too please.

![screenshot_2017-09-27-01-41-53](https://user-images.githubusercontent.com/27742457/30897737-c72c5686-a325-11e7-9afa-baa5ad4cc21a.png)

[2017-09-27 08:47] xeffyr commented on #1590
This is too strange.
What software creates these files ?

[2017-09-27 08:51] fornwall commented on #1590
Strange! Is this on a rooted device @sdrausty ?

[2017-09-27 08:53] fornwall commented on #1565
Unfortunately no! I'm not sure that you can use `libnetfilter_queue` even on a rooted device. If you want to try it out your best bet is probably to build it yourself (if so, please add if it works as a comment here)!

[2017-09-27 08:53] #1565 closed

[2017-09-27 15:18] sdrausty commented on #1590
@xeffyr that is a good question. Just using software in Termux 😀. This is the second time I've seen something like this on another device.

@fornwall Stock Android, not rooted. How do I fix this? I tried uninstalling and reinstalling Termux, but that didn't help.

[2017-09-27 16:05] sdrausty commented on #1590
The easiest way to replicate this issue is probably by:
[code]
If you get something like
`du: cannot access './files/home/git/sdrausty/sdrausty.github.io000/_site/logs': Permission denied`
Then check further with ls:
[code]
![screenshot_20170927-120206](https://user-images.githubusercontent.com/27742457/30924086-b9859514-a37b-11e7-81f9-2d842029f91d.png)

Android 6.0.1 aarch64 stock not rooted

[2017-09-27 17:36] remo7777 opened #1593 "gdrive (google drive) on termux"
if it is possible to upload "file" directly to our Google drive through termux then life will be easier for us..
building a package like that..😍😍
# Thank you..

[2017-09-27 18:20] Auxilus commented on #695
@geezuh `libtoolize --he` gives sed error cz by default termux uses sed provided by busybox which has path
`/data/data/com.termux/files/usr/bin/applets/sed`
You need to do `pkg install sed`

[2017-09-27 19:19] ebpa commented on #596
Another Emacs user here.  I stumble over `C-M-f` and `C-M-b` keypresses being intercepted by termux as well.  It would be nice to be able to customize or at least disable built-in termux keyboard shortcuts.

[2017-09-27 19:29] Grimler91 commented on #1593
A really quick google search found me the python package [PyDrive](https://pypi.python.org/pypi/PyDrive), try that. Install through pip.

[2017-09-27 19:49] Neo-Oli commented on #1593
The best tool for that is [rclone](http://github.com/ncw/rclone). I've been using it for quite some time now and it works great on Termux.
[code]

[2017-09-27 22:32] fox564 commented on #715
The last script worked fine but I had to edit

gem install nokogiri  -- --use-system-libraries

To

gem install nokogiri -v '1.8.0' -- --use-system-libraries

Because it installs the last version which is 1.8.1.

Oh and the wget does not work for some reason.

I had to use.
Pkg install curl
Curl -LO https://Auxilus.github.io/metasploit.sh
Bash metasploit.sh

Good job termux team, keep it up

[2017-09-28 07:09] ebraminio opened #1594 "nodejs has an unstated dependency to libc++"
It seems nodejs has an unstated dependency to libc++ as when I installed it on a clean termux, it was refusing to work with this message which got resolved by installing libc++:

[code]

[2017-09-28 08:06] sutharsha opened #1596 "Package request: gmpy2"
pip install gmpy2 is throwing the following error

Collecting gmpy2
  Using cached gmpy2-2.0.8.zip
Installing collected packages: gmpy2
  Running setup.py install for gmpy2 ... error
    Complete output from command /data/data/com.termux/files/usr/bin/python -u -c "import setuptools, tokenize;__file__='/data/data/com.termux/files/usr/tmp/pip-build-hiqg4vtj/gmpy2/setup.py';f=getattr(tokenize, 'open

[2017-09-28 08:15] sutharsha commented on #1596
already installed libgmp btw

[2017-09-28 08:20] Neo-Oli commented on #1596
Try installing `libgmp-dev`. `-dev` packages usually contain the header files.

[2017-09-28 14:38] remo7777 commented on #1593
ok i ll try @Grimler91  thank you..

[2017-09-28 14:39] remo7777 commented on #1593
rclone also i ll try.. thank you @Neo-Oli

[2017-09-28 14:49] #1593 closed

[2017-09-28 22:14] Mustafa5798 opened #1597 "Error installing localtunnel using npm command"
I tried to install localtunnel on termux using command npm for package nodejs but this problem arised
`bash-4.4$ npm install -g localtunnel
Unhandled rejection Error: EACCES: permission denied, link '/data/data/com.termux/files/home/.npm/_cacache/tmp/f726f9d0' -> '/data/data/com.termux/files/home/.npm/_cacache/content-v2/sha512/a9/4a/a30c410a9f5442083cb369afc1ce2ab1abf4f4888ce02d3d1c14ff7aadbf275e

[2017-09-29 11:05] sutharsha commented on #1596
nice, thx @Neo-Oli also had to install libmpfr-dev and libmpc-dev tho.

[2017-09-29 11:05] #1596 closed

[2017-09-29 11:20] gordol commented on #1193
could it be a rendering issue, instead of an issue with the data being sent/received?

i use tmux, and i notice some weird issues sometimes, and if i bump the terminal width a bit it re-renders and everything appears as expected.

do this, setup a tmux session, and connect to it from two devices. on the other device, use a linux box, or osx, or whatever... then connect them both to the same tmux s

[2017-09-29 11:55] Grimler91 commented on #1193
Could also perhaps be the same issue as https://github.com/termux/termux-packages/issues/491, i.e. wifi chip going to sleep when not used on device.

[2017-09-29 12:00] gordol commented on #1193
so setup two devices over same tmux session... one over wifi, one over usb ethernet. should be obvious immediately if there's a wifi issue vs a hard wired connection.

[2017-09-29 12:01] gordol commented on #1193
or just test it both ways...

[2017-09-29 14:24] sp4rkie commented on #1193
I also had massive problems to ssh in to my device via WLAN. Things got even worse after the screensaver got activated.

After some investigation I found that pinging the gateway from the smartphone keeps the WLAN alive.
And all lag probs are gone:-)
So I wrote some "pinging-daemon". I simply call it from my .profile. By the way the script automatically starts "sshd" after the first login what is

[2017-09-30 02:56] gordol commented on #1193
Why not just use keepalive?

From the client side you can set [ServerAliveInterval](https://man.openbsd.org/ssh_config#ServerAliveInterval)

[2017-09-30 03:50] sp4rkie commented on #1193
because that does not help if the server is not reachable since WLAN is already (half) down.

Instead you must keep flowing some constant traffic initiated by the server and going through the WLAN connection to prevent WLAN from going to sleep at all. A good target for this is your gateway.

Is there some configuration option on Android to prevent WLAN from going to sleep? Probably not because the

[2017-09-30 03:59] gordol commented on #1193
That's exactly what ServerAliveInterval does.

Maybe, if your goal is just to keep the wifi up. Then this has nothing to do with termux.
If you just ping your gateway, how then, do you know if the connection behind the gateway is down? Your gateway should already be sending probes anyway. If your device is ignoring these, or sleeping the radio, maybe you should try to solve that issue, instead of

[2017-09-30 04:09] sp4rkie commented on #1193
the ServerAliveInterval needs an 'active' client connection to be effective. But the lag-error occurs 'before' any client connection exists. That's why ServerAliveInterval does not help for this issue.

[2017-09-30 05:56] kcfinished opened #1600 "Need php-mysql package"
I try to develop the LAMP stack and found that my php code which tried to access mysql (actually mariadb) throwed this "Call to undefined function mysqli_init()"

so I think I should install something like 'php-mysql' but cound not found on 'pkg list-all'

[2017-09-30 06:53] ghost opened #1601 "Flask gets stuck at debugging is active when debug = True"
My code :

ute('/')
def hello() -> str:
        return "Hello world"

                                                 @app.route('/search4', methods = ['POST'])

def do_search() -> str:
    phrase = request.form['phrase']
    letters = request.form['letters']
    return phrase,letters

@app.route('/entry')
def page() -> 'html':                                    return render_template('entry.html

[2017-09-30 07:29] wdscxsj commented on #1601
This doesn't seem like a termux issue. Flask's built-in server by default serves requests one-by-one (http://flask.pocoo.org/docs/0.12/deploying/). You may want to try a container like gevent or something (http://flask.pocoo.org/docs/0.12/deploying/wsgi-standalone/).

[2017-09-30 07:41] suryapoo commented on #1601
It runs perfectly when I remove debug=True

[2017-09-30 11:48] Himan2104 commented on #980
@Deathlive no you cannot. You'll have to resolve dependencies and the required packages are not available in termux. The fedora 25 chroot method is running well and good! Thanks @kuburan !

[2017-09-30 11:56] fabsir06021982 opened #1602 "Segmentation Fault Taskwarrior"
Since today every time when i want to execute the command task from the taskwarrior package i get the message Segmentation fault.
What to do?

[2017-09-30 12:22] sp4rkie commented on #1193
I made some trivial experiments. The results show that Android 6.0.1 on my LG K3 LTE is unsuitable providing network services unless you intervene with ugly workarounds.

------------------------
Test1:
- start termux
- start sshd
- check there currently is no heavy use of the WLAN connection
- ping the phone from an external host:

`$ ping -i 10 192.168.143.119     # issued against the phone from

[2017-09-30 14:46] SyedTahseen commented on #980
@kuburan would you like to tell me the commands to install setoolkit in termux and command for opening setoolkit

[2017-09-30 15:13] gordol commented on #1193
@sp4rkie

did you paste the wrong ping output the second time? it looks the same as the first. the third one looks like the gateway being pinged. either way, those are indeed much better response times.

did you try the ssh setting as i suggested, though? if your complaint is about SSH performance, that should do what you need without relying on a ping daemon or scripts, etc...

sure, maybe your i

[2017-09-30 16:53] sp4rkie commented on #1193
@gordol
thanks for the suggestion. You start with 'Alternatively... Settings -> Power ...' I can't find such settings. Is there needed some special application to expose those?

you're right the connection once being setup may be kept fast enough with serveraliveinterval. But when I run the test of the entry post  (@dredmorbius provided) I get even worse numbers:

`0  -1   0   0   0  -1   1   0  -

[2017-09-30 19:05] gordol commented on #1193
@sp4rkie it may be settings -> battery or similar... what version of android are you on?

[2017-09-30 19:25] Auxilus commented on #715
@fox564 you need to install wget from repository by `pkg install wget` as by default termux uses wget from busybox which has limited functionality.

[2017-10-01 04:19] sdrausty commented on #1398
@fornwall termux-apt-repo fails in all five repositories https://sdrausty.github.io/logs/termux-apt-repo20171001.log

[2017-10-01 04:25] sdrausty commented on #1398
@fornwall termux-apt-repo fails on four/five repositories. Please see 👉https://sdrausty.github.io/logs/termux-apt-repo20171001.log

[2017-10-01 05:00] kuburan commented on #715
hello guys, i'm done rebuilding john the ripper for termux.
now you can use :
auxiliary/analyze/jtr_aix
auxiliary/analyze/jtr_crack_fast
auxiliary/analyze/jtr_linux
auxiliary/analyze/jtr_mssql_fast
auxiliary/analyze/jtr_mysql_fast
auxiliary/analyze/jtr_oracle_fast
auxiliary/analyze/jtr_postgres_fast

the default john configuration file for metasploit is located in metasploit-framework/data/john.co

[2017-10-01 05:46] kuburan commented on #715
@fox564  try to use bundler, it fix in my case.

$ cd metasplot-framework
$ bundle config build.nokogiri --use-system-libraries
$ bundle install

[2017-10-01 06:07] sp4rkie commented on #1193
Version and model I already mentioned here: [https://github.com/termux/termux-packages/issues/1193#issuecomment-333305098](url)

Settings->Battery&Power saving->Battery saver->Turn Battery saver on

is all I found.

But of no use here since this option appears to be ment for the emergency case when just a few % of battery level is left and most services are to be deactivated.

[2017-10-01 06:54] sp4rkie commented on #491
operating the smartphone in hotspot mode (if feasible) solves all WLAN lag problems too.

[2017-10-01 07:34] michalbednarski commented on #1601
See comments on #279

Basically, workaround is:
[code]

You can undo above command with:
[code]

[2017-10-01 07:47] shfrs opened #1603 "Package request: mdbtools"
Since Termux had mysql and postgresql, I think it's good  had a tool to read Ms. Access database files.
https://github.com/brianb/mdbtools

[2017-10-01 09:29] suryapoo commented on #1601
Cool..so should I close this ?

[2017-10-01 12:06] FTC55 commented on #715
Msfupdate does not work so how do you update exploits?

[2017-10-01 12:20] Auxilus commented on #715
Right now the only way is to install the whole new version of metasploit-framework

[2017-10-01 14:18] FTC55 commented on #715
@Auxilus wich script should I use for that?

[2017-10-01 14:21] FTC55 commented on #715
@Auxilus just asking because there seems to be a bit of confusion with people suggesting different fixes

[2017-10-01 14:45] Auxilus commented on #715
Follow instructions at wiki.termux.com, just change the version to something that you want to install.. ( follow manual installation not automatic )

[2017-10-01 15:11] FTC55 commented on #715
@Auxilus Ok thank you

[2017-10-01 16:15] sdrausty commented on #1398
"/data/data/com.termux/files/usr/lib/python3.6/subprocess.py", line 418, in run
    output=stdout, stderr=stderr)
subprocess.CalledProcessError: Command '['ar p termux.net/dists/stable/main/binary-i686/aapt_7.1.2.33-1_i686.deb control.tar.xz | tar --to-stdout -xJf - ./control']' returned non-zero exit status 2.

[2017-10-01 19:46] fornwall commented on #1602
1. Which arch is this one (what is the output of `uname -m`)?
2. Which Android version?
3. Does the problem remain if you update to latest version of all packages with `pkg up`?

[2017-10-02 03:33] SDRausty opened #1605 "Package request: dosemu"
DOSEMU stands for DOS Emulation, and allows you to run DOS and many DOS programs, including many DPMI applications such as DOOM and Windows 3.1, under Linux.

👉 http://dosemu.org
👉 https://tracker.debian.org/pkg/dosemu

[2017-10-02 05:03] sdrausty commented on #1605
👉 https://www.gnu.org/software/gnudos/

[2017-10-02 07:12] sdrausty commented on #202
Povray works on Ubuntu chroot in Termux 😀😍 on a smartphone.

[2017-10-02 09:28] xeffyr commented on #1605
DOSEmu can run only on x86.

[2017-10-02 09:52] suryapoo commented on #1383
So..we should stick to SQLite for ruby development projects for now ?

[2017-10-02 12:12] LooNeyTKp commented on #37
i'm having this same problem, the above solution doesn't work for me

[2017-10-02 12:19] Neo-Oli commented on #37
@looneytkp What error messages do you get?

[2017-10-02 13:25] looneytkp commented on #37
[code]

this is after changing to zsh, so i logout and login to termux

[code]

i get no output after echo $shell, it's still bash. i ignored and tried installing oh-my-zsh but i get this error

[code]
apparently i don't have shells file in /etc/shells, i ls the /etc directory and indeed i don't have it
[code]

[2017-10-02 13:44] Neo-Oli commented on #37
Oh-my-zsh can not be installed with the default installation script. See: https://wiki.termux.com/wiki/Shells#Oh-My-ZSH for instructions on how to do it.

[2017-10-02 15:57] looneytkp commented on #37
thank you

[2017-10-02 16:44] stephengroat commented on #1403
closing for now, travis _seems_ to have silently fixed the issue

[2017-10-02 16:44] #1403 closed

[2017-10-02 16:44] goccikcan commented on #715
$ msfconsole
[*] Metasploit requires the Bundler gem to be installed
    $ gem install bundler
$ gem install bundler
Segmentation fault

Hi I have a problem like this can you help me ?

[2017-10-02 16:51] Auxilus commented on #715
@goccikcan are you running it on 32bit device?  can you please give output of `uname -a`?

[2017-10-02 16:52] goccikcan commented on #715
Linux localhost 3.10.61-8208732 #1 SMP PREEMPT Thu Mar 30 17:02:11 KST 2017 armv8l Android

[2017-10-02 16:54] AyeshaShafique opened #1607 "QPython"
How to install Scipy package of python on android?
Could anyone help me? IT IS URGENT !

[2017-10-02 16:59] Grimler91 commented on #1607
See https://wiki.termux.com/wiki/Installing_Scipy_The_Easy_Way.

[2017-10-02 17:03] AyeshaShafique commented on #1607
I couldn't install the scipy using pip in android ? Could you tell me what to do?

[2017-10-02 18:15] Funeoz commented on #989
search on YT, you will find good tutorials

[2017-10-02 18:21] Grimler91 commented on #1607
Scipy requires Fortran which so far isn't available with clang, so no, it not possible to install it with pip. Only way to get it is through its-pointless repo, see the instructions in the link I gave you.

This question has been raised a couple of times before, see for example https://github.com/termux/termux-packages/issues/471.

[2017-10-02 18:32] Grimler91 commented on #1607
Also, please not that this repo is for the [linux terminal emulator termux](https://termux.com), for android. It has nothing to do with the android app qpython.

[2017-10-02 18:55] Grimler91 commented on #1607
Looks like you've opened a duplicate issue at https://github.com/qpython-android/qpython.org/issues/178

[2017-10-02 18:59] #1607 closed

[2017-10-02 20:51] sdrausty commented on #1605
The reason I am suggesting 🗣 a DOS emulator:

https://duckduckgo.com/?q=open+source+dos+games 🎁

Probably any DOS emulator would do well https://duckduckgo.com/?q=open+source+dos+emulator+for+linux 🖥

Which one is simplest to port?

[2017-10-02 21:16] gordol commented on #1605
`Linux localhost 3.14.0 #1 SMP PREEMPT Tue Sep 26 23:44:21 PDT 2017 i686 Android`

No problem here, dosemu package should be totally possible.

Just because  package isn't available on arm doesn't mean we shouldn't NOT support it, since there are plenty of environments in which Termux is indeed running on x86 hardware.

[2017-10-02 21:21] gordol commented on #1601
Isn't this fixed upstream now?

Do we need a new python package for termux?

https://bugs.python.org/issue27057

[2017-10-03 10:57] sdrausty commented on #1252
Weechat reboots Android 6 aarch64: 🌟 starts beautifully, logs in well...  Can tlk 2

`/nick` upsets it REBOOT stock

[code]

[2017-10-03 11:35] Neo-Oli commented on #1252
@sdrausty This is very likely the same issue as https://github.com/termux/termux-app/issues/129. Can you post it there. Also it would be interessting to know what model of phone you have.

[2017-10-03 11:41] sdrausty commented on #1252
The one that reboots is ZTE Z981

[2017-10-03 11:55] #1252 closed

[2017-10-03 12:01] shfrs opened #1608 "Package request: vifm"
Vifm is an ncurses based file manager with vi like key bindings. It will be a good alternative of ranger.
https://github.com/vifm/vifm

[2017-10-03 12:03] sdrausty commented on #1608
👍

[2017-10-03 12:06] sdrausty commented on #1605
+gorfol +xeffyr +fornwall Which is easier to port into Termux 💪☺️ in your opinion?

[2017-10-03 12:13] sdrausty commented on #1605
https://www.google.com/search?q=easiest+dos+emulator&oq=easiest+dos+rmulator&aqs=chrome.1.69i57j0.12670j0j7&client=ms-android-boost-us&sourceid=chrome-mobile&ie=UTF-8

[2017-10-03 12:14] sdrausty commented on #1605
https://duckduckgo.com/?q=easiest+dos+emulator

[2017-10-03 12:16] sdrausty commented on #1605
🎅🎄🎁🤶☺️🎼

[2017-10-03 12:33] sdrausty commented on #1252
This is low level programming gone array.

[2017-10-03 13:38] xeffyr commented on #1605
To run a DOS emulator we need graphical output in Termux. @vishalbiswas has added a [repository](https://github.com/vishalbiswas/termux-packages/tree/x11) with X11 packages, so we can access graphical output with VNC (but third party VNC viewer is required).

[2017-10-03 13:44] sdrausty commented on #1605
+xeffyr DOS 🎅 is not [GUI](https://wiki.termux.com/wiki/GUI).

[2017-10-03 13:45] sdrausty commented on #1605
DOS Disk Operating System

https://duckduckgo.com/?q=open+source+dos+games

[2017-10-03 13:46] xeffyr commented on #1605
@sdrausty, yes DOS is not GUI. But dosbox requires SDL.

[2017-10-03 13:49] sdrausty commented on #1605
Thank you for your time and response. https://duckduckgo.com/?q=open+source+dos+games+top

😐

[2017-10-03 14:12] sdrausty commented on #1605
https://duckduckgo.com/?q=open+source+dos+games+top+10+-youtube&ia=web

[2017-10-03 14:15] sdrausty commented on #1605
Open in browser works better.

On Oct 3, 2017 10:12 AM, "S D Rausty" <notifications@github.com> wrote:

https://duckduckgo.com/?q=open+source+dos+games+top+10+-youtube&ia=web

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/termux/termux-packages/issues/1605#issuecomment-333854672>,
or mute the thread
<https://

[2017-10-03 14:16] sdrausty commented on #1605
Saved to draft.

On Oct 3, 2017 10:14 AM, sdrausty@gmail.com wrote:

[2017-10-03 14:18] sdrausty commented on #1605
Unsubscribe

[2017-10-03 14:18] sdrausty commented on #1605
'ell no

[2017-10-03 14:20] sdrausty commented on #1605
https://duckduckgo.com/?q=wikipedia+termux&t=he&ia=web

On Oct 3, 2017 10:18 AM, "S D Rausty" <notifications@github.com> wrote:

[2017-10-03 14:23] sdrausty commented on #1605
Da unit ask if I want to unsubscribe, 'ell no. I don't wanna unsubscribe. 😐

[2017-10-03 16:40] michalbednarski commented on #1601
That is different fix (for bug which prevented Flask from working altogether; I've said that *comments* on that pull request were relevant)

This isn't bug in python, this is problem with `ip` command built in Android

[2017-10-03 17:47] remo7777 opened #1611 "error about, ps, top, htop, on android ( 7.0 aarch64)"
not showing system android background processes, help me plz...😭😭😭
![screenshot_20171003-185317](https://user-images.githubusercontent.com/28594846/31139932-af1bc2d2-a890-11e7-9e5a-48d10dba7363.jpeg)
![screenshot_20171003-230541](https://user-images.githubusercontent.com/28594846/31140019-dd7810a4-a890-11e7-98f8-82891e3f8c04.jpeg)

[2017-10-03 17:48] remo7777 commented on #1611
working on my another phone android ( marshmallow  aarch64)...

[2017-10-03 23:10] its-pointless commented on #1611
Yes thats due to android 7 no longer allowing it. Nothing we can do.

[2017-10-04 00:14] its-pointless commented on #1608
check it...
#1612

[2017-10-04 00:19] sdrausty commented on #1608
I'm trying to install docker in Termux. Any suggestions? I have found success https://wiki.termux.com/wiki/Proot 🔹 but not fruition.

[2017-10-04 00:22] sdrausty commented on #1608
Do I really need docker? What alternatives do we have in Termux?

[2017-10-04 00:52] its-pointless commented on #1608
none it requires features not found in normal android linux kernel.

[2017-10-04 01:51] remo7777 commented on #1611
and for root user; can giv that permission on termux ??

[2017-10-04 04:09] gordol commented on #1601
I am presently running a Flask app and it works just fine with debug enabled.

Chrome OS: Version 61.0.3163.110 (Official Build) beta (64-bit)

[2017-10-04 04:14] gordol commented on #1601
It's using Android 7.1.1 also, if that helps.

[2017-10-04 04:14] its-pointless commented on #1611
there is a package called tsu
running that command should put you into root mode and able to use termux stuff

[2017-10-04 09:29] osiride commented on #491
For me, lag occurs only when the screen is off. To solve this, just acquire wakelock from the notification.

[2017-10-04 19:32] #1611 closed

[2017-10-04 19:37] bumper314 opened #1617 "pforth segmentation fault"
pforth isn't behaving properly (confirmed on 3 devices):

- When run without arguments, pforth seg faults.
- When run with the -i argument, pfroth runs, but it's a highly stripped down (useless) environment.

I'm able to build the same commit of pforth on my Mac, and it works as expected.
Let me know if I can do more to help.

[2017-10-04 20:48] stephengroat commented on #1617
@bumper314 have you run `pkg up` to make sure that everything is up to date?

[2017-10-05 01:12] its-pointless commented on #1617
Well i don't know much about forth but did manage to compile gforth on device. If you could tell me the arch of your device (uname -m) i could use someone who does use forth for some testing?

[2017-10-05 02:59] dekubi opened #1618 "How to install Scikitlearn Sklearn"
@its-pointless @community
 How do you install scikitlearn without getting errors when importing certain modules in termux

[2017-10-05 06:09] bumper314 commented on #1617
@stephengroat Yes, all up to date or freshly installed yesterday/today.

@its-pointless Just installed on a 4th device and pforth works, so here's the breakdown:

- **Worked**
  - LG VK815 (aarch64)
- **Failed**
  - Nexus 5 (armv71)
  - Nexus 6 (armv71)
  - Samsung Note Pro 12 (armv71)

Happy to test.  I wasn't able to get the Docker dev env setup for testing, but I can try suggestions on-device.

[2017-10-05 07:14] its-pointless commented on #1617
https://github.com/its-pointless/its-pointless.github.io/raw/master/files/dists/termux/extras/binary-arm/gforth_0.7.3_arm.deb

[2017-10-05 08:11] its-pointless commented on #1617
i can get pforth to work on arm by compiling pforth on device. So at the very least that should work.

[2017-10-05 08:30] bumper314 commented on #1602
FYI, I thought this might be related to #1617, but `task` is working fine on my armv71 and aarch64 devices.

[2017-10-05 08:39] bumper314 commented on #1617
I'm able to build the pforth source on device and it runs correctly, so perhaps their's an issue with the [build script](https://github.com/termux/termux-packages/blob/master/packages/pforth/build.sh).

I'm unable to install the debs due to [unresolvable dependencies](https://gist.github.com/bumper314/d41e622100c12b8685212b6754795564), but those also appear to be [gforth](https://github.com/termux

[2017-10-05 11:15] its-pointless commented on #1617
oh i messed that up i will fix that now

[2017-10-05 11:22] its-pointless commented on #1617
regarding why it works built on device and not cross compiled?

could be one of many different reasons.
the compilers are not quite the same is one answer.  The compilers we use on device are not ndk sources but upstream llvm. After looking at things cross compiling forth is a strange thing as well...

[2017-10-05 13:42] Neo-Oli commented on #465
I just did a check and can confirm that this issue remains in version `7.6p1` of openssh

[code]

[2017-10-05 15:47] #1572 closed

[2017-10-05 19:25] shubhampaul commented on #740
@mozzworld pgsql.so loads with php's built-in server but doesn't load with apache

[2017-10-05 19:55] ginacordova commented on #1618
The below instructions are for installing scikitlearn on an Android smartphone using the Termux app. I have Python 3 installed on my smartphone:
1. Run the below in Termux:
$ curl -L https://its-pointless.github.io/setup-pointless-repo.sh | sh
##The script essentially installs gnupg on your device and downloads and adds a public key to your apt keychain ensuring that all subsequent downloads are f

[2017-10-06 01:17] atomi opened #1624 "Package Request: urlview"
https://github.com/sigpipe/urlview

Ubuntu repo https://packages.ubuntu.com/trusty/misc/urlview

[2017-10-06 01:36] atomi commented on #1624
I think if there is a way to open the termux urlviewer via command line that will work too.

[2017-10-06 07:02] tigran123 opened #1625 "ps command says /proc not mounted on LG G4"
The ps command works fine on UMI Super running Android 7, but fails on LG G4 running Android 6, see:

[code]

[2017-10-06 07:03] tigran123 commented on #1625
Btw, htop works fine, but top crashes, leaving the terminal in the raw state (which is cured by `reset` command).

[2017-10-06 07:54] tigran123 commented on #1625
The `free` command fails in the same way and here is a possible reason why:

[code]

At least that system call is the only thing that is failing, according to `strace free` output.

[2017-10-06 09:10] xeffyr commented on #1625
SELinux enforcing ?

[2017-10-06 09:11] tigran123 commented on #1625
Yes, unfortunately. And this phone is not rooted, so I can't just `setenforce 0`...

[2017-10-06 09:23] tigran123 commented on #1625
I can "get by" using `/system/bin/ps | grep $(id -un)` but it would be nice to have the normal `ps(1)` command working...

[2017-10-06 10:34] dekubi commented on #1618
@ginacordova
"I can send you a list of the packages with versions that I have installed on my Android if you need it." I will be very happy if you do that

[2017-10-06 11:19] dekubi commented on #1618
@ginacordova
After following the steps, i still get this error when i try to import some modules.

"UserWarning: This platform lacks a functioning sem_open implementation, therefore, the required synchronization primitives needed will not function, see issue 3770..  joblib will operate in serial mode
  warnings.warn('%s.  joblib will operate in serial mode' % (e,)) "

[2017-10-06 12:08] shfrs commented on #1608
Just tested it on i686, I didn't notice any possible bug/errors. 👍

[2017-10-06 22:04] brysgo opened #1627 "termux-fix-shebang inside git"
Would it be possible to make a filter stream to rewrite shebangs the way auto_crlf works in git? (https://github.com/git/git/blob/238e487ea943f80734cc6dad665e7238b8cbc7ff/convert.h)

That way any scripts in a git repository would be automatically converted, and we don't need to worry about having uncommitted changes.

[2017-10-07 06:55] sayem314 opened #1628 "Package request: PyNaCl from Python2"
Hello there, Can we have the mentioned package? Or is there any tutorial how to build packages from source for termux?

I need to use Paramiko to automate some task using ssh securely. Currently using Pxssh but it does fail some time. And for paramiko, pynacl is required.

Pynacl cannot be installed with `pip2 install pynacl` so many error would occur. I also tried to build from source with making

[2017-10-07 13:22] tigran123 opened #1629 "pip install matplotlib fails because "required package freetype" is missing"
I tried to do `pip install matplotlib` and here is what I get:

[code]
However, freetype* packages are installed:

[code]

[2017-10-07 13:27] tigran123 commented on #1629
I noticed the important warning about missing `pkg-config`, satisfied it by `pkg install pkg-config` and retried `pip install matplotlib` --- and now it doesn't complain about missing freetype! Hopefully it will complete successfully and work (I'll close this issue as soon as I have tested it).

[2017-10-07 13:28] its-pointless commented on #1629
You have to edit the config and disable optional backend gtk stuff

[2017-10-07 13:29] tigran123 commented on #1629
@its-pointless Let's hope that I won't have to do that, but we'll see...

[2017-10-07 13:30] tigran123 commented on #1629
Besides, I would have thought that freetype is needed for beautiful TeX-style formula rendering which is not gtk-related.

[2017-10-07 13:36] tigran123 commented on #1629
It compiled successfully, but running an application that uses it gives lots of errors like this:

[code]

My `matplotlibrc` contains this line:

[code]

I thought "TkAgg" was the backend we were supposed to use in Termux, no? It's been a long time I needed this, so I may have forgotten :) I'll try to remember now...

[2017-10-07 13:44] tigran123 commented on #1629
Ah, I remember now: I have to edit `matplotlibrc` and set `backend    : agg` instead of `TkAgg`. Yes, that did the trick --- it works now!

[2017-10-07 14:02] tigran123 commented on #1629
Yes, everything works perfectly. PyFFTW also works perfectly! Closing this "non-issue" :)

[2017-10-07 14:02] #1629 closed

[2017-10-07 19:03] stephengroat commented on #1624
requires `librx` https://github.com/zorgnax/librx

[2017-10-07 19:15] atomi commented on #1624
How about just the ability to run the ctrl+alt+u url list from the command line?

[2017-10-08 13:35] rpil2 opened #1635 "apt-mark is missing"
man apt says:

You can mark such a package as manually installed by using apt-mark(8)

But no apt-mark command is installed.

[2017-10-08 17:01] nrymn opened #1637 "Package request: MOC"
MOC Player
http://moc.daper.net/about

[2017-10-08 21:12] dorneanu opened #1638 "Add destab/vidstab to ffmpeg"
Hi! Any chances of adding stabilization filters like destab/vidstab to ffmpeg? That would be great.

Thanks in advance.

[2017-10-08 21:15] dorneanu commented on #1638
The vidstab library can be found at: https://github.com/georgmartius/vid.stab

[2017-10-09 02:03] wdscxsj opened #1639 "Fails to upgrade: texlive-bin/stable 20170524-2 aarch64"
When upgrading from 20170524-1:

[code]

The 5th line of `preinst`:

[code]

`pdflatex` is broken after the failed installation. `xelatex` seems fine.

My phone: Xiaomi 6 running Android 7.1.1.

[2017-10-09 02:40] Auxilus opened #1641 "Root access for termux by bootstrapping basic android data to wr dir"
Is it possible to get root access by bootstrapping basic android data like `/sys/` and other system folders to maybe `$PREFIX` ?

[2017-10-09 04:57] Grimler91 commented on #1639
Thanks for reporting! That line uses an extended glob expression, which isn't allowed in scripts, so it needs to be fixed.

Did you upgrade from texlive-bin 20170524-1 or from texlive 20170524-1?

[2017-10-09 05:28] wdscxsj commented on #1639
From texlive-bin 20170524-1:

[code]

Thanks for your quick response.

[2017-10-09 07:37] Grimler91 commented on #1639
Should be fixed in #1643.
If you want to get texlive up and running before that is merged you can always run
`shopt -s extglob; rm -rf $PREFIX/opt/texlive/2017/!(texmf-dist); shopt -u extglob`
manually and then `apt update && apt upgrade` again.

Please let me know if pdflatex still doesn't work after those steps.

[2017-10-09 07:59] tigran123 commented on #1625
The error is coming from the function `proc/sysinfo.c:meminfo()` which needs access to the file `/proc/sys/vm/min_free_kbytes` in order to calculate the amount of available memory (for Linux kernels > 2.6.27). This variable `kb_main_available` is actually used by the `top(1)` and `free(1)` utilities, but not by `ps(1)`, so we could, in principle make `ps(1)` work correctly on LG G4, but that would

[2017-10-09 08:05] Grimler91 opened #1644 "TMPDIR env var missing when ssh'ing into termux"
I'm not sure if this is an issue in the [termux-app source](https://github.com/termux/termux-app/blob/master/app/src/main/java/com/termux/app/BackgroundJob.java) or if it is a problem with the ssh(d) program.

I noticed that when I ssh into my device, TMPDIR is missing. Is this expected behaviour?
It causes problems when running texlive in an ssh shell as it uses TMPDIR.

I removed `export TMPDIR=

[2017-10-09 08:08] wdscxsj commented on #1639
Thanks for the quick fix, but unfortunately `pdflatex`, `xelatex`, and `latex` are removed... Still no luck after an re-installation of both texlive and texlive-bin.

[code]

Before this update, `pdflatex` was present (although broken), and `xelatex` definite working.

[2017-10-09 08:08] tigran123 commented on #1641
Hmmm, that root would not be "real root" in the sense of kernel-level process capabilities. E.g. you still wouldn't be able to run utilities like `tcpdump(8)`. It would be like root in the "Debian for Android" application on Google Play (maybe it's called differently, can't remember) which sort of gives you "root user" (and even X11 environment) but this "pseudo-root" sometimes causes confusion to

[2017-10-09 08:11] tigran123 commented on #1644
I always set TMPDIR in `~/.profile` --- in fact I do a few other bits that are absolutely essential, e.g. SHELL variable must be exported (for some reason it is not exported by default).

[code]

[2017-10-09 09:13] Grimler91 commented on #1639
@wdscxsj yeah.. I'm not sure what has happened here. pdflatex, xelatex and other links are missing from the .deb.

Running `texlinks` on device re-generates the missing files.

[2017-10-09 09:15] Grimler91 commented on #1639
`texlinks` fails if TMPDIR isn't set, so could be related to https://github.com/termux/termux-packages/issues/1644

[2017-10-09 09:28] wdscxsj commented on #1639
Yes, that did the trick. Thanks a lot!

[2017-10-09 09:33] Grimler91 commented on #1639
No problem, thanks again for reporting

[2017-10-09 09:51] stainslav opened #1645 "How to install Debian 9.2 chroot termux?"
As on listed in debians Official site that the Debian 9.2 is released with a lots of customization which package I have to choose to install Debian chroot in termux?
@Fronwall
Please tell me

[2017-10-09 11:50] tchollingsworth opened #1646 ""curl": cannot locate symbol "curl_mime_free""
[code]

Unlike with some similar issues, I don't appear to have an Android system version of curl installed at all.

[2017-10-09 11:57] tchollingsworth commented on #1646
I do have `/system/lib/libcurl.so`, but you set things up so it shouldn't be using it?

[code]

This is on a Moto G4 with Android 7.0 if that's helpful.

[2017-10-09 12:10] tchollingsworth commented on #1646
The symbol does seem to be genuinely missing:

[code]

[2017-10-09 14:06] Grimler91 commented on #1646
I assume that you have made sure that everything is up to date? (apt update && apt upgrade)

curl_mime_free is included in libcurl.so on my arm device so something is very weird here.

[code]

Does `apt install libcurl --reinstall` change anything?

[2017-10-09 15:00] sdrausty commented on #1645
First `pkg install bootstrap proot`,
example usage `debootstrap --arch=armel stretch stretch http://ftp.us.debian.org/debian/`.
Then setup proot to setup the container.

[2017-10-09 15:03] tchollingsworth commented on #1646
Good catch, updating `libcurl` resolves the issue. (I didn't think to run an `apt-get upgrade` because I just recently installed Termux and did that.)

[2017-10-09 15:03] #1646 closed

[2017-10-09 16:41] stephengroat commented on #1344
seeing the same error on #1640

[2017-10-09 19:35] sdrausty commented on #202
Made on a smartphone in Termux proot from Povray source http://www.oyonale.com/downloads/scifi_demo.zip today.

![scifi_demo](https://user-images.githubusercontent.com/27742457/31354926-371c5e52-ad06-11e7-8dc6-543bc417e5ba.jpg)

![screenshot_2017-10-09-14-40-39](https://user-images.githubusercontent.com/27742457/31354946-4e060352-ad06-11e7-85fe-ab35ad22edce.png)

Dependencies for Povray in Debian

[2017-10-10 01:13] wdscxsj commented on #1639
I think the shebang line of `preinst` should use `bash` instead of `sh`, as `shopt` is not a `sh` builtin. Otherwise:

[code]

[2017-10-10 04:59] Neo-Oli commented on #1639
Yeah, I am also getting it.
[code]

[2017-10-10 07:36] stainslav commented on #1645
@sdrausty
Bro I want to install Debian v9.2 please how I can do this, I mean which file work for termux please send me and please choose aarch64 Debian 9.2 as my phone is aarch64 or arm64

[2017-10-10 08:33] Grimler91 commented on #1639
I'm on it. I'll make sure to do thorough testing this time..

[2017-10-10 10:07] csabahenk opened #1649 "w3m aborts"
I'm getting this:

[code]

With:

[code]

Note I made a "rogue" build of w3m, ie. cloned this repo to the target device and without setting up a build environment I compiled it along the build instructions (installed the *-dev packages for the dependecies, manually applyed patches and set configure opts). The resulting w3m binary did not produce the abort (it 's still not usable, as it segfaults o

[2017-10-10 10:35] its-pointless commented on #1649
The issue is likely with libgc. I dealt with this on x86 trying to get guile to work on it. Its due to libgc assuming android uses ld.gold instead of the normal ld.  I didn't get an error on arm on guile so i thought it was fine.

[2017-10-10 11:59] sdrausty commented on #1645
Simply follow the instructions @stainslaw

[2017-10-10 12:03] stainslav commented on #1645
@sdrausty
Bro can you send me the link to Debian 9.2 termux version with command "xxxx" please

[2017-10-10 19:40] sdrausty commented on #1645
@stainslav https://wiki.termux.com/wiki/Debian

[2017-10-10 23:31] fornwall commented on #1608
Thanks to @its-pointless the package is now available for installation with `pkg install vifm`!

[2017-10-10 23:31] #1608 closed

[2017-10-11 01:23] wdscxsj commented on #1639
Thank a lot for the effort! It's working fine now. :+1:

[2017-10-11 03:20] stainslav opened #1650 "What is this is termux have a problem with that see the binary error!"
#HELP cannot execute binary files in termux when I copied it to bin anybody help me
How can I fix this?

[2017-10-11 03:22] Auxilus commented on #1650
I guess you have to tell us what error you are getting, so that we can work on it..

[2017-10-11 04:14] stainslav opened #1651 "@Auxilus"
Can you Modify these scripts for termux it is very nicessary for me and there is .bin folder also in this zip please make it accessible from /data/data/com.termux/files/use/bin not .bin please edit these scripts and try to run because it shows me cannot execute binary file
Link is here: https://mega.nz/#!KYwU1AwL!PSjuNh9BHKDmQrXE2ngQhO2tVilPFOAKcUMrCc0oJ-E

[2017-10-11 05:46] tigran123 commented on #1639
Hmm, that fix has caused a serious problem, I think.

Today I did `pkg upgrade` and noticed a very suspicious messages about "removing residual files". This made me worried because my TeX Live installation is done by `tlmgr install scheme-full` and so I suspected that this upgrade will destroy it, i.e. will return it to the minimalistic scheme (unusable for publishing thousands of books in hundred

[2017-10-11 06:10] Neo-Oli commented on #1639
I am still hoping for a `texlive-full` package that could be installed via apt.

[2017-10-11 06:32] tigran123 commented on #1639
Ok, I have now read this whole thread and learned that running `texlinks` regenerates the missing files. Indeed, xelatex binary is now back. However, it doesn't actually work, look:

[code]

[2017-10-11 06:39] wdscxsj commented on #1639
@tigran123 You can try this (I did, please see above):

[code]

[2017-10-11 06:55] Grimler91 commented on #1639
@tigran123 try reinstalling like @wdscxsj said. All files from scheme-full should be left alone and be usable (but not upgradeable) afterwards.

I'm guessing some files too many were removed in the preinst script and not reinstalled during installation. I still don't really understand how apt/dpkg does updates.

[2017-10-11 06:56] Grimler91 commented on #1639
@Neo-Oli it's on my to do list 😃

[2017-10-11 07:31] Grimler91 commented on #1651
It's probably built for another architecture. Executing binaries built for another architecture won't work.

[2017-10-11 09:53] tigran123 commented on #1639
I have done a complete re-install from fresh start (re-installed the whole Termux) and this is what I get now:

[code]

I will try to follow the above instruction about `tlmgr update --self` and see what happens.

[2017-10-11 10:11] tigran123 commented on #1625
The complete workaround for the `free` command is easy to implement by putting this in `~/.profile`:

[code]

The switches like `-m` work fine. However, a similar workaround for `ps` is very deficient in that it only provides a plain "show all processes" type of output.

[2017-10-11 11:29] tigran123 commented on #1639
Unfortunately, the installation fails like this:

[code]

I will see if it actually works despite this...

[2017-10-11 12:09] panditarevolution opened #1652 "Permission issue when installing python - pip not working"
Hi,

I'm trying to install python however when it gets to pip, the install aborts with a permission error. I'm using a rooted Moto Z.

The python executable works fine after this failed install and opens a python prompt.

[code]

[2017-10-11 12:47] tigran123 commented on #1639
Yes, good news: it works absolutely fine (both pdflatex and xelatex).

[2017-10-11 13:11] wdscxsj commented on #1639
As for the `fmtutil-sys` failures, you may want to "fix" it first:

[code]

[2017-10-11 13:45] Auxilus commented on #1651
@stainslav as @Grimler91 said, you have to either use the binary executable which is supported by your architecture or compile the package locally to create one.

[2017-10-11 13:50] Grimler91 commented on #1639
@wdscxsj It seems to be the file `mtxrun` that has a faulty shebang, so `termux-fix-shebang $(which mtxrun)` solves it.

[2017-10-11 19:29] david-macleod commented on #1618
@ginacordova I would also be interested if you could outline the exact steps you took to get the scikit-learn installation to work

I have followed the links and tried the following
[code]

But it produces the error recorded here #https://github.com/termux/termux-app/issues/443

[2017-10-11 21:17] sdrausty opened #1656 "$ man zsh man: No entry for zsh in the manual. $"
[code]
https://wiki.termux.com/wiki/ZSH

[2017-10-11 21:20] sdrausty commented on #1651
The key for success is architecture in systems working in Termux.
https://wiki.termux.com/wiki/Proot

[2017-10-12 06:51] Deathlive commented on #1645
@sdrausty How to fix this Error ?
![sad](https://user-images.githubusercontent.com/29791715/31482888-3164dfac-af3b-11e7-9123-233c5c21480f.PNG)

My android arch  `armv7l Android`
installed everything through the wiki.

[2017-10-12 13:35] sdrausty commented on #1645
@Deathlive try the other arm. Also you can always ask at #debian IRC; Good luck.

[2017-10-12 17:22] xeffyr commented on #1656
Really ? Just unpacked package and checked:
[code]

[2017-10-12 18:25] sdrausty commented on #1656
Works 😶 tnx

[2017-10-12 18:38] sdrausty commented on #1656
Rechecked. Works on aarch64. Does not work on Termux-packages arch:
arm
Android version:
7.1.1
![screenshot_20171012-143544](https://user-images.githubusercontent.com/27742457/31513026-f026933a-af5a-11e7-9a0c-85b13274a043.png)

[2017-10-12 20:16] ExarchD opened #1657 "pdflatex hangs when including .pdf"
Hello,
I think I've found an error with pdflatex. When running pdflatex, the compiler will fail when it goes to include a pdf in the document. For example:
`\includegraphics{testfile.pdf}`

It doesn't output an error, it just hangs.
This is on a chromebook, arch: armv8l
It doesn't seem to have an issue with pngs or jpgs. I recently updated all my packages and unfortunately I didn't keep track of w

[2017-10-12 22:31] sdrausty commented on #1656
Sorry for the trouble. No program, no manpage, zsh was not installed on the arm device.

[2017-10-12 22:31] #1656 closed

[2017-10-12 23:12] sdrausty commented on #1645
+Deathlive actually changing /bin/env to /usr/bin/env in start.sh solves your question. Thanks for taking interest.

[2017-10-13 01:15] fiiim opened #1658 "how to ssha with multiple keys?"
I cant figure out how to use ssha with multiple keys and I find no info about it anywhere. Maybe multiple keys doesnt work with ssha?

[2017-10-13 05:52] Deathlive commented on #1645
@sdrausty
Sorry, but no matter how I tried it, it's still a mistake
![img_20171013_095113_236](https://user-images.githubusercontent.com/29791715/31532088-355bc5fa-affc-11e7-869b-48fd2df9586e.jpg)

[2017-10-13 09:33] Grimler91 commented on #1657
I'm able to reproduce it on my arm and aarch64 device.

I have, unfortunately, no idea what the problem is.

Could you post an output log from running this MWE? (make sure you have the package mwe installed):
[code]

Could you also change the title of this issue to something more informative? (Like "pdflatex hangs when including .pdf")

[2017-10-13 10:02] espectalll opened #1659 "R: /data/data/com.termux/files/usr/bin/sed: not found"
Whenever I try to run a script with `Rscript`, I get the following error:

[code]

The same goes for `R CMD BATCH`:

[code]

[2017-10-13 10:03] its-pointless commented on #1659
Install sed..
apt install sed

[2017-10-13 10:11] espectalll commented on #1659
Oh, so it specifically needs GNU sed. OK, then shouldn't it be added as a dependency to R?

[2017-10-13 10:17] its-pointless commented on #1659
R isn't specifically supported by termux ( i distribute it). But i will add it to the dependencies so next up date works...

[2017-10-13 10:20] espectalll commented on #1659
Oh, didn't notice that! I don't remember what I added your repo for, so I just installed R expecting it was from the main repo. Anyway, thanks, closing!

[2017-10-13 10:20] #1659 closed

[2017-10-13 11:09] Grimler91 commented on #1657
gdb seem to suggest that it is an issue in poppler, and there seem to be a known issue at https://bugs.archlinux.org/task/55721.

So there is some issue in the [poppler 0.57 patch](https://github.com/termux/termux-packages/blob/master/packages/texlive-bin/texlive-20170524-source-poppler059-1.patch), the people at archlinux seems to have solved it so I can try updating the patch later

[2017-10-13 11:13] Grimler91 commented on #1657
I'm guessing that using this [slightly updated patch](https://git.archlinux.org/svntogit/packages.git/plain/trunk/texlive-poppler-0.59.patch?h=packages/texlive-bin) instead will solve the issue.
Thanks for reporting btw!

[2017-10-13 11:29] sp4rkie commented on #1645
though no errors are reported while executing
[code]
the new rootfs is not sane.

A short look at /data/data/com.termux/files/home/stable
(after debootstrap finishes) shows
there is some partly uncompressed files and other crap (mostly
with \.l2s.* in the name) around. e.g.
[code]
[code]
Furthermore there should exist a softlink in the new rootfs
[code]
which simply isn't there. So I think at leas

[2017-10-13 11:53] Grimler91 opened #1660 "Programs linked to libcrypto.so.1.0.0 can't be debugged with gdb on arm"
I noticed this when looking into https://github.com/termux/termux-packages/issues/1657.

Consider this "empty" C program:
[code]

Compiling this with `gcc test.c -o test -lcrypto` gives a program that outputs the following in gdb:
[code]

There are no problems when doing the same on aarch64. Might be a issue upstream with libcrypto I guess.

`(gdb) disas 0xb6eaade8` gives
[code]

[2017-10-13 12:18] sp4rkie commented on #1645
there is another problem when using the --foreign flag of debootstrap. I used this flag because it allows to split the whole process into a 'initial unpack phase' and a 'completion phase'. Only the 'completion phase' executes in the guest system. But that does not work because debootstrap is patched with the shebang fix which does not work (and. is not required anyway) in the guest system.

[2017-10-13 12:25] Grimler91 commented on #1660
Actually, I get the same problem on my raspberry pi so this must be an upstream issue.

[2017-10-13 17:16] fornwall commented on #1660
Right - this is by design in openssl, from https://www.openssl.org/docs/faq.html#PROG15:

[2017-10-13 17:16] #1660 closed

[2017-10-13 18:04] Grimler91 commented on #1660
Interesting, thanks!

[2017-10-13 19:45] yangxiaoweix opened #1661 "git remote error: `fatal: protocol error: bad line length character: Welc`"
I want to make my android phone a mobile git repository by Termux.
I installed the sshd  env and my PC can connected it well by publickey.
I installed the git and make a empty repository.
I push local git to the remote, but error occurred.
The message is:
       `fatal: protocol error: bad line length character: Welc`

I think the full characters are `Welcom to Termux` as the same as the ssh conne

[2017-10-13 20:10] Grimler91 commented on #1661
Not site if it will help but you can turn off the message with `touch ~/.hushlogin` in termux.

How did you create the empty repo in termux? (Which command) And which command did you push with?

[2017-10-14 00:15] moises-santillan commented on #1657
Hi

I have a similar problem.  When trying to compile a document that includes a pdf file (Fig1.pdf in my case), I get the following error

<
Fig1.pdfInternal Error (0): Call to Object where the object was type 5, not the expected type 8
Aborted

I'm using TeXLive 20170524-3 on a lenovo tablet arch: x86_64

[2017-10-14 02:38] mystorp opened #1662 "pkg install man fail!"
[code]

[2017-10-14 02:44] remo7777 commented on #1662
first typ command `apt-get update --fix-missing` then `apt-get upgrade -y` then `pkg install man`
😁

[2017-10-14 03:14] mystorp commented on #1662
thank u for reply@remo7777
but it seems not work for me
i have upgrade termux to `0.53`
and i can install other packages normally

[2017-10-14 06:59] Grimler91 commented on #1662
Seems like you're subscribed to a neoterm repository, and that's what's failing. This is a neoterm issue and not a termux issue

[2017-10-14 08:44] Grimler91 commented on #1657
@moises-santillan Could you try this deb? https://github.com/Grimler91/Grimler91.github.io/raw/master/files/dists/testing/texlive/binary-x86_64/texlive-bin_20170524-5_x86_64.deb

I have updated the patch as mentioned in the previous comment and it solves the problem reported by ExarchD, hopefully it solves your problem as well.

[2017-10-14 11:30] mystorp commented on #1662
thank you for your reply.
Yes, i see.
but i don't know anything about neoterm, and i haven't done anything about it. how did it happen?

here is my `$PREFIX/usr/etc/apt/sources.list`:
(i have a little ubuntu expierence, i think this might help)
[code]

[2017-10-14 12:06] tigran123 commented on #1629
Actually, on Nexus 10 "pip install matplotlib" still fails, but with a different error:

[code]

[2017-10-14 12:08] tigran123 commented on #1629
This comes from a simple "import numpy":

[code]

The numpy and scipy come from @its-pointless repository.

[2017-10-14 12:21] its-pointless commented on #1629
mising catan?
catan is in libgfortran
Looks like I screwed up compilng numpy. Started using a clang + gfortran rather than gcc and fortran. Have to redo it specifically including -lgfortran in LDFLAGS.
Nexus 10 you say so arm and what version of android? is this 5 6 or 7?

[2017-10-14 12:27] its-pointless commented on #1629
okay now im confused

[2017-10-14 12:34] its-pointless commented on #1629
__INTRODUCED_IN(23);
there we go. you are using android 5 are you?

[2017-10-14 12:36] mystorp commented on #1662
nothing.
[code]

[2017-10-14 12:39] Auxilus commented on #1662
Im on aarch64, I got no errors while `pkg install man`

[2017-10-14 12:40] Auxilus commented on #1662
$  ~ pkg install man
Hit:1 http://termux.net stable InRelease
Reading package lists... Done
Building dependency tree
Reading state information... Done
All packages are up to date.
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  man
0 upgraded, 1 newly installed, 0 to remove and 0 not upgraded.
Need to get 206

[2017-10-14 12:51] mystorp commented on #1662
Yes, i am too.@Auxilus
[code]

[2017-10-14 12:54] Grimler91 commented on #1662
@mystorp Something is very weird, it is somehow configured to download from http://211.161.151.132/files/4119000000C92EAE/neoterm.studio, but that should mean that you have neoterm's repo specified in $PREFIX/etc/apt/sources, which you don't seem to have.

From where did you install termux?

Can you do `grep -r neoterm $PREFIX` and see if that outputs something suspicious?

[2017-10-14 13:02] mystorp commented on #1662
I install termux from APKPure, a third party  android pkg downloader.
i have run `grep -r neoterm $PREFIX`, but it output nothing

[2017-10-14 13:34] Grimler91 commented on #1662
Seems weird, but the apk from APKPure is identical with the one from [FDroid](https://f-droid.org/packages/com.termux/).

Maybe someone else has a guess about what's going on.

[2017-10-14 13:44] moises-santillan commented on #1657
Dear @Grimler91 Unfortunately, my problem was not solved by installing the patched texlive-bin version. Now I get what ExarchD originally reported. That is, pdflatex freezes when it finds an included PDF file.

[2017-10-14 13:56] Grimler91 commented on #1657
@moises-santillan Hm, are you sure that you have texlive-bin 20170524-5 installed?
What does `apt show texlive-bin` return?

[2017-10-14 14:09] moises-santillan commented on #1657
@Grimler91 I just double-checked to make sure I didn't do anything stupid. I reinstalled everything from scratch and I get the error I mentioned before:

`Fig1.pdfInternal Error (0): Call to Object where the object was type 5, not the expected type 8 Aborted`

Then I upgraded the patched texlive-bin package, and the compilation freezes.

This is the output of `apt show texlive-bin`

`Package: texl

[2017-10-14 14:17] Grimler91 commented on #1657
Alright, thanks for checking. Could you share Fig1.pdf (or another file that reproduces the error) so that I can test it?

[2017-10-14 14:48] Grimler91 commented on #1657
@moises-santillan I noticed that I had failed to apply the patch correctly, there was a line missing in it..

Could you try installing the deb again (from the same link) and see if this new version changes anything?

[2017-10-14 16:02] moises-santillan commented on #1657
Sorry. reinstalled texlive.bin and the problem continues.

[2017-10-14 19:35] Grimler91 commented on #1657
Thanks for testing. Might be that this is a x86_64 specific issue

[2017-10-14 21:35] mrbrianhinton opened #1666 "Termux failing to find binary for Hugo"
No compatible package can be found to match.

I believe the package is pulled from https://github.com/gohugoio/hugo/releases
When I try to manually install Huge via dpkg none of the debs are i686 (or was it i386?) compatible.

I've tried https://gist.github.com/bep/a0d8a26cf6b4f8bc992729b8e50b480b as well, and it doesn't work.

[2017-10-14 22:24] jajpater commented on #80
Wow, I'd like to git-annex

[2017-10-14 22:59] #590 closed

[2017-10-15 01:26] fornwall commented on #1662
Strange. What does `ping termux.net` output?

If you have curl installed, what does `curl -D- http://termux.net -o /dev/null` output?

[2017-10-15 02:15] mystorp commented on #1662
[code]
it's really strange, actually, I just installed curl

[2017-10-15 04:38] mystorp commented on #1662
i find it run success when i am trying to find somthing strange by use strace command a moment ago.I guess it's probably what God did.

[2017-10-15 04:38] #1662 closed

[2017-10-15 08:39] tigran123 opened #1668 "Today's upgrade of texlive-bin breaks XeLaTeX and pdfLaTeX"
Two problems:

1. After the upgrade the links to executable binaries disappear, i.e. executing "xelatex" results in "command not found". This is fixed by running `texlinks` command, but it shouldn't be necessary.

2. After running `texlinks` nothing actually works, i.e. trying to compile anything fails _before_ it even has a chance to write to the log file, so I can't even see why it is failing. I

[2017-10-15 08:41] tigran123 commented on #1668
Here is the error message (I have enabled the standard error output from pdflatex command):

[code]

[2017-10-15 09:57] Grimler91 commented on #1668
Try reinstalling texlive: `apt install texlive --reinstall`. That should recreate the missing files.

That being said, I should look over the preinst/postinst scripts..

[2017-10-15 10:28] Dragonbreak opened #1669 "Tcpdump permissions"
Attempting to run tcpdump as standard user gives this error:
     tcpdump: Can't open netlink socket 13:Permission denied

Attempting to run as root (tsu) provides this error:
     CANNOT LINK EXECUTABLE: cannot locate symbol "OpenSSL_add_all_algorithms" referenced by
      "tcpdump"...page record for 0xb6ef004c was not found (block_size=64)

Searching on google brought some information that it's

[2017-10-15 13:04] alex-rug commented on #1063
I'm experiencing the same problem in tmux as well? Any ideas?

[2017-10-15 14:42] stainslav opened #1670 "Termux Biggest Missing Thing!"
GUI Support in termux till when it's coming 2 yearsnow there is no trace of it!
Please @fronwall what about progress on GUI Support to termux?

[2017-10-15 15:56] tigran123 commented on #1668
Thank you, yes, that solved the problem. Both xelatex and pdflatex work fine.

[2017-10-15 16:33] tigran123 commented on #1629
Yes, Nexus 10 is running Android 5.1.1.

[2017-10-15 22:05] its-pointless commented on #1629
i updated arm numpy and scipy could you tell me if it works?

[2017-10-16 00:24] Exaeta opened #1671 "Can't build botan"
[code]

[2017-10-16 01:40] yangxiaoweix commented on #1661
The commend   touch ~/.hushlogin  works and the error message is missed.
But the git push commend still not works.
This time the git bash show nothing.
I stop the commend and then it show me it cannot find the repository.
I can get the ssh connection to the termux by my PC, so the net is well.

I apt install the git in termux and then create a git repository at the path of ~/git/
The push commend

[2017-10-16 06:33] Ashish882 commented on #715
[Code]./msfconsole
WARNING: linker: /data/data/com.termux/files/usr/lib/ruby/gems/2.4.0/gems/pg-0.20.0/lib/pg_ext.so: unused DT entry: type 0xf arg 0x1693
[-] Failed to connect to the database: could not connect to server: Connection refused
        Is the server running on host "127.0.0.1" and accepting
        TCP/IP connections on port 5432?

[*] Starting the MEtasploit Framework console...-[/c

[2017-10-16 08:11] Neo-Oli opened #1672 "newsboat generates "default.profraw""
I've switched from newsbeuter to newsboat. Every time I launch newsboat it generates an empty default.profraw in the current working directory. I ducked it and it seem to be some kind of "LLVM Code Coverage" File. Maybe there are some debug options enabled in our build?

[default.profraw.zip](https://github.com/termux/termux-packages/files/1386622/default.profraw.zip)

[2017-10-16 08:13] Neo-Oli commented on #1624
urlview seems to be abandoned. Have you tried `urlscan`? You can install it with `pip install urlscan`. It seems to be doing almost the same thing.

[2017-10-16 08:16] Neo-Oli commented on #1600
Duplicate of https://github.com/termux/termux-packages/issues/630

[2017-10-16 08:16] #1600 closed

[2017-10-16 08:19] #1651 closed

[2017-10-16 08:26] Neo-Oli commented on #1627
You might also be interested in [Termux-Exec](https://wiki.termux.com/wiki/Termux-exec), which allows you to run scripts with traditional shebang without calling termux-fix-shebang.

[2017-10-16 08:31] Neo-Oli commented on #1672
A few other open-source projects have this issue popping up in the last few weeks.
https://github.com/krzysztofzablocki/Sourcery/issues/421
https://github.com/Hammerspoon/hammerspoon/issues/1569

Both these seem to be using clang, so maybe it's something introduced in the latest version of clang?

[2017-10-16 09:30] atomi commented on #1624
it's for rtv https://github.com/michael-lazar/rtv and urlscan doesnt seem to do anything when invoked fro rtv

[2017-10-16 10:03] tigran123 commented on #1668
Good news: today's upgrade of texlive did _not_ break anything! Tested both xelatex and pdflatex.

Btw, it would be nice if there was a way to set the value of SHELL variable in the Makefile in a way that works both in Termux and in normal Linux environment. Currently I have to edit the Makefile manually to switch between the values:

[code]

and

[code]
The above full path I enter by using a vi c

[2017-10-16 12:21] brysgo commented on #1627
woah, thanks. will try it

[2017-10-16 12:42] brysgo commented on #1627
tried briefly to get termux-exec working without success, will try again later

[2017-10-16 12:48] Neo-Oli commented on #1627
@brysgo be sure to restart your shell (or better all of termux) after installing termux-exec with `pkg install termux-exec`

[2017-10-16 13:00] Auxilus commented on #715
Seems to me that you are not using the latest version of the script?

@Ashish882 can you please try out
[code]

The `WARNING: linker: /data/data/com.termux/files/usr/lib/ruby/gems/2.4.0/gems/pg-0.20.0/lib/pg_ext.so: unused DT entry: type 0xf arg 0x1693` error can be fixed by
[code]

[2017-10-16 13:38] sebelk opened #1673 "termux and screen size"
How can I run bmon? It asks at least either 48 columns or 18 lines. That's not possible on most of mobil phones. Is there a way to hide the keyboard after launching bmon?

Thanks in advance!

[2017-10-16 13:42] Neo-Oli commented on #1673
You have to lower the font size to run bmon. You can do this with the pinching gesture on the screen.

[2017-10-16 14:14] Ashish882 commented on #715
@Auxilus as this time error is deffirent
<code>WARNING: linker: /data/data/com.termux/files/usr/lib/ruby/gems/2.4.0/gems/pg-0.20.0/lib/pg_ext.so: unused DT entry: type 0xf arg 0x1693
FATAL:  role "msf" does not existwork console...-
FATAL:  role "msf" does not exist
FATAL:  role "msf" does not exist
[-] Failed to connect to the database: FATAL:  role "msf" does not exist</code>

[2017-10-16 14:19] Ashish882 commented on #715
I resolved it other but database is not connecting

[2017-10-16 14:27] Auxilus commented on #715
the error `role "msf" does not exist FATAL: role "msf" does not exist [-] Failed to connect to the database: FATAL: role "msf" does not exist` means that username `msf` is non-existant.

run
[code]
and try  running metasploit again..

[2017-10-16 15:15] ExarchD commented on #1657
Has the poppler package been updated with the new patch? I'm not sure how I can test the patch within the termux environment.

[2017-10-16 16:04] Grimler91 commented on #1657
@ExarchD I haven't opened a PR yet as the patch doesn't seem to solve all problems.

Could you try the updated texlive-bin (2170524-5) from https://github.com/Grimler91/Grimler91.github.io/tree/master/files/dists/testing/texlive/ and see if it solves the problem for you? There are debs for arm, aarch64 and x86_64 available from there.

[2017-10-16 16:12] ExarchD commented on #1657
Well...I just tried it on my quite long thesis. It managed to include several pdfs, including the one which it had hung on before. However, it now hangs at a different file, another pdf. If it's helpful for you I can attach that particular file.

[2017-10-16 16:14] Grimler91 commented on #1657
That would be great, thanks

[2017-10-16 16:15] ExarchD commented on #1657
Here you go
[overfitting_v2.pdf](https://github.com/termux/termux-packages/files/1388224/overfitting_v2.pdf)

[2017-10-16 17:34] Ashish882 commented on #715
Ohh thanks auxilues

[2017-10-16 17:52] tigran123 commented on #1629
The command `python -c "import numpy"` succeeds, but `pip install matplotlib` fails, now like this:

[code]

[2017-10-16 20:30] #1673 closed

[2017-10-17 01:19] wdscxsj commented on #1639
I guess this issue can be closed now. Thank Grimler91 for the hard work and quick responses.

[2017-10-17 01:19] #1639 closed

[2017-10-17 03:03] LissieTilbrook opened #1677 "GnuPG unable to send keys to keyserver"
This is not a duplicate of #852. Instead, I created a GPG key and need to send it to hkp://keyserver.ubuntu.com . The error I get is

gpg: no handler for keyserver scheme `hkp'

(I'm on mobile so I can't do markup)

I need to do this so I can help my partner submit her GPG key for her Launchpad, https://launchpad.net/~alexatilbrook and we don't have access to a computer at this moment.

[2017-10-17 04:29] vishalbiswas commented on #1651
that zip file just contains bash scripts. You can just do `apt install termux-exec` then restart termux. be sure to read Instructions.md

[2017-10-17 04:47] vishalbiswas commented on #1660
on a sidenote, you can actually debug them.

[2017-10-17 06:06] Grimler91 commented on #1677
Did you try installing `gnupg-curl`, as described in #852?

[2017-10-17 07:13] vsdigitall commented on #908
PLEASE include this package in Termux

[2017-10-17 16:04] sp4rkie opened #1679 "proot called from termux-chroot exits with signal 6"
I'm currently writing a script allowing an [automated install of debian 9 (stretch)](https://github.com/sp4rkie/debian-on-termux/) in a termux environment. The guest system is entered via proot. Sometimes during the installation process proot exits ungracefully with signal 6 like this:

[code]
I experimented a little to find an easy way to reproduce the problem:
just call
[code]
and execute
[code]

[2017-10-17 20:21] FTC55 commented on #715
After manually installing metasploit by cloning the repository can i update with "git pull"? Can I break the installation by doing so?

[2017-10-18 00:17] Quasic opened #1680 "eSpeak floating point exception"
I tried reinstalling, but no help. Can anyone reproduce? This happens in some form in every invocation I've tried, but the cleanest failure was the form:
espeak -f file.txt -w file.wav

I believe it updated a while ago, but this is the first time I've tried to use it since then.  It was working before.

[2017-10-18 01:29] Auxilus commented on #715
@FTC55 haven't tried it yet,

[2017-10-18 09:43] xeffyr commented on #1669
After **tsu** try this commands:
[code]
If this not work, check that **openssl** is installed.

[2017-10-18 11:46] sp4rkie commented on #1645
just setup a new repo with a (hopefully) working fully automated Debian 9 (stretch) install.

https://github.com/sp4rkie/debian-on-termux

I tested it in on freshly installed termux environment (just reinstalled the termux-app from scratch). Another test went well on my productive termux machine (LG K3 LTE). No problems seen so far. Architecture is:

[code]
The script takes a while to complete. En

[2017-10-18 16:11] ExarchD commented on #1657
Any updates?

[2017-10-18 19:48] xeffyr commented on #1679
Have you directory /proc/device-tree ? On my device (Samsung galaxy s7) proot fails when accesses this directory.
I have modified source code by commenting line 52 in src/path/proc.c:
[code]
This solution maybe invalid, but after that proot works fine.

[2017-10-19 01:30] VitoVan commented on #183
Is anyone working on this for now ?

I tried build it follow this instruction:

https://github.com/termux/termux-packages#setting-up-a-build-environment-using-docker

But it's not working yet, there are errors throw out when compiling and I am trying to solve them.

I am not good at Cross Compiling or C or C++ or Common Lisp or anything related to this, so if anyone is working on this, would you l

[2017-10-19 03:15] Quasic opened #1682 "elinks segfaults at termux.com"
I'm writing this from elinks in termux. It works great, but for some reason, whenever I click a link to termux.com, it segfaults. If I use the command ```elinks http://termux.com```  it segfaults after displaying "SSL negotiation" Can anyone reproduce?

[2017-10-19 03:55] vishalbiswas commented on #1682
I can reproduce this on arm API 23.

"On Desktop, I get Unable to retrieve https://termux.com/: SSL Error"

[2017-10-19 05:26] Quasic commented on #1682
Sorry, I forgot to say it was running in Lollipop on arm.

[2017-10-19 05:26] Quasic commented on #1680
Sorry, I forgot to say it was running in Lollipop on arm.

[2017-10-19 09:25] Grimler91 commented on #1657
@ExarchD well, I can reproduce the bug both on arm and aarch64 so that's good. I've built debug versions of poppler and texlive-bin and played around with gdb and valgrind without being able to determine exactly where the bug starts, but it's some memory problem in libpoppler, due to the patch.

I will try to see if I can reproduce the error on my desktop, when building with the same patch (and sa

[2017-10-19 09:38] Grimler91 commented on #183
@VitoVan Are you interested in sbcl or clisp?

If you share the compiling errors we could probably (try) to help solve them.

I haven't looked at clisp for quite some time, I was stuck at trying to solve some C_CODE_ALIGNMENT error. Compiling on device also went further than cross compiling, though cross compiling can probably be fixed with the right flags.

[2017-10-19 09:55] biojet1 opened #1684 "cls command like in windows cmd"
clear the terminal's scroll-back buffer. The clear command just clears the screen.

[2017-10-19 10:22] fornwall commented on #1682
Generally, lynx is the only maintained terminal browser - elinks is abandoned, without fixes or support from upstream.

A possible way forward would be to setup at least `elinks` as a symlink to `lynx`, so that users running `elinks` out of habit gets a maintained browser instead. What do you say about that?

[2017-10-19 10:36] Neo-Oli commented on #1682
The w3m fork we're using is pretty well maintained. I've found it working the best of the three. Lynx has a lot of screen garbage when used within tmux.

I am missing the gopher support in w3m (it's unclear if that is even possible, but Wikipedia lists w3m as a gopher client).

Just my 2 cents. Not really anything relevant to this issue.

[2017-10-19 10:59] sp4rkie commented on #1679
yeah, `/proc/device-tree` exists here too. Thanks for the tip. I will later try it and report the results.

[2017-10-19 13:14] panditarevolution commented on #1652
Should perhaps reiterate that the abort during the install of pip means that pip is not available. So the immediate issue would be how to get pip installed....

[2017-10-19 13:34] Grimler91 commented on #1652
Do you get the same output if you manually run `$PREFIX/bin/python -m ensurepip --upgrade --default-pip` (with this half-working python installation)?

In that case, could you run it in verbose mode? `$PREFIX/bin/python -v -m ensurepip --upgrade --default-pip`?

[2017-10-19 13:47] joakim-noah commented on #1671
Does it work if you specify `-mcpu=cortex-a8` also?

[2017-10-19 14:05] kurokirasama commented on #387
so it is possible to have octave on termux?

[2017-10-19 15:02] Quasic commented on #1682
Since someone asked in the other thread, http://termux.com gives the same segfault during SSL negotiation, as I think it redirects to https.

I originally installed lynx, but like having a backup browser, so tried elinks. I found its interface intuitive and it seemed to work better with my setup, at the time, so lynx became my backup. I might switch back, but I'd probably like to keep elinks aroun

[2017-10-19 17:15] csabahenk commented on #1649
@its-pointless I could work around the issue with using static libgc.

- I built libgc (current git checkout) with `--enable-static`
- Installed libgc and deleted the .so files to enforce static linking (is there a more gracious way? w3m does not support `--enable-static`)
- compiled w3m

It works!

Note: using my previous w3m build (that links dynamically to libgc) with the freshly built libgc pr

[2017-10-19 19:02] #1668 closed

[2017-10-19 19:04] csabahenk commented on #1649
OK. I checked dynamic linking against freshly built libgc.

It works.

So just rebuild libgc (I used current git) and w3m (according to termux-package) and it works.

[2017-10-19 19:05] tigran123 commented on #1684
You can just add this to your ~/.profile:

[code]

and then `cls` command will work as you expect, i.e. will clear the scroll-back buffer.

[2017-10-19 19:38] TheWithz opened #1685 "Can't install texlive?"
termux on google pixel C android tablet non root Oreo 8.0.0

Googled how to install pdflatex because i need it for a project, came upon a bunch of resources that say to run `termux-install-tl` however, when I do it. I get a `command not found` error.

[code]

[2017-10-19 19:42] biojet1 commented on #1684
"Tput reset" does not work i still can scroll down to see the previous output

[2017-10-19 19:58] tigran123 commented on #1684
Oh, I forgot that it is Termux we are talking about and not generic xterm on Linux :)

Yes, you are right, in Termux `tput reset` does not clear the scroll buffer.

[2017-10-19 19:59] tigran123 commented on #1685
did you try the command `pkg install texlive`?

[2017-10-19 20:15] Grimler91 commented on #1685
termux-install-tl was the way to go up until a few months ago. Now days it is installable through apt/pkg as tigran said.

[2017-10-19 21:33] sdrausty commented on #1176
Can https://wiki.termux.com/wiki/PRoot help in resolving this matter?

https://github.com/termux/proot

[2017-10-19 21:40] TheWithz commented on #1685
I installed through apt and it's working fine. Sorry for the confusion.

[2017-10-19 21:40] #1685 closed

[2017-10-19 22:07] brownstyler commented on #372
I third this request, I use emacs and org mode on termux quite a bit and having pandoc would be amazing!

[2017-10-19 22:31] ahad-47 commented on #1067
error occurred while installing
network_interface (0.0.1), and Bundler cannot continue.
Make sure that `gem install network_interface -v
'0.0.1'` succeeds before bundling.

[2017-10-19 22:32] ahad-47 commented on #1067
Tried installing patch and everything that was suggested

[2017-10-20 01:19] wdscxsj commented on #1684
Try this:

[code]

[2017-10-20 01:42] pmeiyu opened #1686 "$PREFIX/share/emacs/site-lisp is not in emacs load-path"
Both `$PREFIX/share/emacs/site-lisp` and `$PREFIX/share/emacs/25.3/site-lisp` directories are not in emacs load-path. Is this a bug or a feature?

[2017-10-20 05:06] bluelightning32 commented on #1100
I have two different phones with termux installed. I was able to reproduce this on one, but mostly not the other. My guess is that this only reproduces on old versions of Android.

It did reproduce on:
[code]

It did not reproduce on:
[code]

The one thing on the Android 8.0 device is that even though tar doesn't report an error, the symlink does end up with strange permissions:
[code]

It appears

[2017-10-20 06:32] bluelightning32 commented on #1100
The difference is inside the fchmodat function. Commit [3cbc6c627fe57c9a9783c52d148078f8d52f7b96](3cbc6c627fe57c9a9783c52d148078f8d52f7b96) changed it.

Here is my test program:
[code]

Output on Android 5.1:
[code]

Output on Android 8.0:
[code]

[2017-10-20 06:53] sp4rkie commented on #1679
ok, encommenting the assertion 'solves' the problem for me too. At least I can't see any undesired side effects until now:-)

[2017-10-20 07:52] its-pointless commented on #1649
The updated libgc should of fixed this?

[2017-10-20 07:53] Grimler91 commented on #1686
According to the config.log generated when building emacs, it is included in lisppath. It is, however, not found when listing emacs' load-path on device (ctrl + h v load-path RET), so that's a bit strange.

Will need to do some investigation. Seems like a bug, thanks for reporting.

[2017-10-20 08:42] csabahenk commented on #1649
Yes indeed, it does.

[2017-10-20 10:15] xeffyr commented on #1682
Elinks closes socket before freeing the ssl structure (and this causes a crash):

src/network/ssl/socket.c:
[code]

src/network/ssl/ssl.c:
[code]

I can provide patch that fixes crash but elinks will show SSL error on https://termux.com. Other sites (google.com or such) will work.

[2017-10-20 10:26] xeffyr commented on #1682
I have rebuild elinks without any patches and it not crashes but shows SSL error.

[2017-10-20 11:27] xeffyr commented on #1682
Tried [git version](http://elinks.cz/elinks.git/) of elinks - everything works.

[2017-10-20 12:17] panditarevolution commented on #1652
This did work indeed! Thanks for this. I then ran it in verbose mode:

[code]

[2017-10-20 13:56] Grimler91 commented on #1652
Maybe it was some kind of temporary error.
I guess you can close this for now then!

[2017-10-20 15:27] kurokirasama opened #1688 "libfdk-acc library"
is it possible to have this on termux?

[2017-10-20 15:43] Auxilus commented on #1688
https://github.com/mstorsjo/fdk-aac  is this what you are talking about?

[2017-10-20 15:46] kurokirasama commented on #1688
if it's the same to what described here:[ https://trac.ffmpeg.org/wiki/Encode/AAC]( https://trac.ffmpeg.org/wiki/Encode/AAC), then yes

[2017-10-20 15:46] Auxilus commented on #140
@scateu Alpine is available by `pkg install alpine`

[2017-10-20 16:06] kurokirasama opened #1689 "octave issue"
Hello,

i don't know if this question goes here, but if not, please tell me where should i do it.

i successfully installed octave on termux, as well as several octave packages. However, i can't install two:

* miscellaneous: i got the error:
[code]
I have have ncurses library installed

*parallel: i got the error:
[code]
and i have gnutls library instaled...

[2017-10-20 16:48] Grimler91 commented on #1689
Technically this question belong better at https://github.com/its-pointless/gcc-termux as you must have installed the octave from his repo, but it doesn't matter.

Try installing the *header* files for ncurses and gnutls, available from ncurses-dev and libgnutls-dev. If that doesn't work then it's most likely one of the [differences between Linux and termux](https://wiki.termux.com/wiki/Difference